<dialog id="loginDialog" class="account-form-div account-dialog">
    <div class ="exit-button-div">
      <button id="loginDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('loginDialog')" >✖</button>
    </div>
    <h2 id="loginHeading" class="account-heading login-heading blue-text">Login to Casino Competitor</h2>
    <form id="loginForm" action="/login" method="POST">
      <label for="loginUsername" class="account-label sm-txt">Username</label><br>
      <input type="text" name="username" id="loginUsername" class="login-input user-input" minlength="5" maxlength="25" placeholder="username" size="30" autocomplete="username" required><br>
      <label for="loginPassword" class="account-label sm-txt">Password</label><br>
      <input type="password" name="password" id="loginPassword" class="login-input password user-input" minlength="5" maxlength="25" placeholder="password" size="30" autocomplete="current-password" required><i id="loginPassIcon" onclick="togglePasswordVisibility('loginPassword', 'loginPassIcon')" onkeydown="togglePasswordVisibility('loginPassword', 'loginPassIcon')" class="show-hide input-icon fas fa-eye" tabindex="0"></i><br>
      <ul id="invalid-login" class="invalid-fields-list"></ul>
      <button type="submit" name="login-submit" role="button" onclick="return validatePreLogin('login-input', 'invalid-login', 'loginForm')" class="btn md-text blue-bg gold-text btn-style account-button" id="loginButton">Log In</button>
    </form>
    <div class="account-already">
      <a id="forgot-user-link" class="link-text" onclick="displayForgotDialog('forgotUserDialog', false)" href="#">Forgot Username</a> |
      <a id="forgot-pw-link" class="link-text" onclick="displayForgotDialog('forgotPWDialog', false)" href="#">Forgot Password</a> |
      <a id="account-signup-link" class="link-text" onclick="location.href='/register'" href="#">Sign Up</a>
    </div>
</dialog>
<dialog id="forgotUserDialog" class="account-form-div account-dialog">
    <div class ="exit-button-div">
      <button id="forgotUserDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('forgotUserDialog')" >✖</button>
    </div>
    <h2 id="forgotUserHeading" class="account-heading login-heading blue-text">Forgotten Username</h2>
    <form id="forgotUserForm" action="/forgotuser" method="POST">
      <label for="forgotUserEmail" class="account-label sm-txt">Email</label><br>
      <input type="email" name="forgotUser[email]" id="forgotUserEmail" class="forgotUserInput user-input" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br>
      <label for="forgotUserBirthday" class="account-label sm-txt">Birthday</label><br>
      <input type="date" name="forgotUser[birthday]" id="forgotUserBirthday" class="forgotUserInput birthday user-input" min="1920-01-01" max="2020-06-01" title="format: mm-dd-yyyy" autocomplete="bday" required><br>
      <label for="forgotUserPhone" class="account-label sm-txt">Phone Number</label><br>
      <input type="tel" name="forgotUser[phone]" id="forgotUserPhone" class="forgotUserInput user-input" minlength="10" maxlength="16" size="25" inputmode="numeric" onpaste="forceNumeric(event, 'tel')" onkeypress="forceNumeric(event, 'tel')" title="format: XXXXXXXXXX" placeholder="XXXXXXXXXX" autocomplete="tel" required><br>
      <ul id="invalid-forgot-username" class="invalid-fields-list"></ul>
      <button type="submit" name="forgot-pw-submit" role="button" onclick="return validatePreLogin('forgotUserInput', 'invalid-forgot-username', 'forgotUserForm')" class="btn md-text blue-bg gold-text btn-style account-button" id="forgotUserButton">Recover Username</button>
    </form>
    <div class ="back-button-div">
      <button id="forgotUserBackButton" class="back-arrow btn blue-text lg-text" name="back-arrow" onclick="backFromDialog('forgotUserDialog')"><i id="forgotUserBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
      <span class="back-button-label blue-text sm-text" onclick="backFromDialog('forgotUserDialog')">Back to Login</span>
    </div>
</dialog>
<dialog id="forgotPWDialog" class="account-form-div account-dialog">
    <div class ="exit-button-div">
      <button id="forgotPWDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('forgotPWDialog')">✖</button>
    </div>
    <h2 id="forgotPWHeading" class="account-heading login-heading blue-text">Forgotten Password</h2>
    <form id="forgotPWForm" action="/forgotpass" method="POST">
      <label for="forgotPWEmail" class="account-label sm-txt">Email</label><br>
      <input type="email" name="forgotPW[email]" id="forgotPWEmail" class="forgotPassInput user-input" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br>
      <label for="forgotPWBirthday" class="account-label sm-txt">Birthday</label><br>
      <input type="date" name="forgotPW[birthday]" id="forgotPWBirthday" class="forgotPassInput birthday user-input" size="8" min="1920-01-01" max="2020-06-01" title="format: mm-dd-yyyy" autocomplete="bday" required><br>
      <label for="forgotPWPhone" class="account-label sm-txt">Phone Number</label><br>
      <input type="tel" name="forgotPW[phone]" id="forgotPWPhone" class="forgotPassInput user-input" minlength="10" maxlength="16" size="25" inputmode="numeric" onpaste="forceNumeric(event, 'tel')" onkeypress="forceNumeric(event, 'tel')" title="format: XXXXXXXXXX" placeholder="XXXXXXXXXX" autocomplete="tel" required><br>
      <ul id="invalid-forgot-password" class="invalid-fields-list"></ul>
      <button type="submit" name="forgot-user-submit" role="button" onclick="return validatePreLogin('forgotPassInput', 'invalid-forgot-password', 'forgotPWForm')" class="btn md-text blue-bg gold-text btn-style account-button" id="forgotPWButton">Recover Password</button>
    </form>
    <div class ="back-button-div">
      <button id="forgotPWBackButton" class="back-arrow btn blue-text lg-text" name="back-arrow" onclick="backFromDialog('forgotPWDialog')"><i id="forgotPWBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
      <span class="back-button-label blue-text sm-text" onclick="backFromDialog('forgotPWDialog')">Back to Login</span>
    </div>
</dialog>
</div>
<script defer>window.addEventListener('load', () => {
  getFormValues('login-input', ['username', 'password']);
  getFormValues('forgotUserInput', ['email', 'birthday', 'phone']);
  getFormValues('forgotPassInput', ['email', 'birthday', 'phone']);
  });
</script>
<script rel="preconnect" defer src="https://www.googletagmanager.com/gtag/js?id=G-EG1KEKWQS6"></script>
<script defer>
  if (typeof document.createElement('dialog').show != 'function') {
    let dialogSup = document.getElementsByTagName('dialog');
    for (i = 0; i < dialogSup.length; i++) {
      if (dialogPolyfill) {
        dialogPolyfill.registerDialog(dialogSup[i]);
      }
    }
  }
  Sentry.init({dsn: 'https://bc7444c26cad4159a4fc1818045022ba@o404801.ingest.sentry.io/5269442'});
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-EG1KEKWQS6');
  var imageObj = new Image();
  imageObj.src = window.origin + '/images/cards/blueBackCard.webp';
</script>
  </body>
</html>