<dialog id="confirmDialog">
  <span id="confirmHeading" class="sm-text blue-text">Are you sure you want to end your turn?</span>
  <div id="confirmDialogDiv" class="row farkle-div">
    <div class="col">
      <button id="confirmButton" class="btn sm-text red-bg gold-text btn-style">Yes</button>
    </div>
    <div class="col">
      <button id="cancelButton" class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('confirmDialog')">No</button>
    </div>
  </div>
</dialog>
<dialog id="mustHoldDialog" class="md-dialog">
  <span class="blue-text sm-text">You must hold new dice to roll again</span>
  <div id="mustHoldDiv" class="farkle-div">
      <button id="mustHoldCancel" class="btn sm-text red-bg gold-text btn-style">OK</button>
    </div>
</dialog>
<dialog id="hotDiceDialog" class="md-dialog">
  <b class="green-text md-text">HOT DICE</b><br>
  <span class="blue-text sm-text">Roll all your dice again for extra winnings</span>
  <div id="hotDiceDiv" class="farkle-div">
      <button id="hotDiceCancel" class="btn sm-text blue-bg gold-text btn-style">OK</button>
    </div>
</dialog>
<script defer type="module" src="javascripts\farkle.js"></script>
