<footer id="footer" class="d-md-block d-none">
    <nav id="bottom-navbar" class="navbar-nav navbar-expand navbar-dark bg-dark m-auto">
     <ul class="navbar-nav navbar-center bottom-nav-list m-auto">
      <li class="nav-item"><a href="index">Home</a></li>
      <li class="nav-item"><a href="cards">Cards</a></li>
     </ul>
    </nav>
   </footer>
  </div>