<footer id="footer" class="d-md-block d-none">
    <nav id="bottom-navbar" class="navbar-nav navbar-expand navbar-dark bg-dark m-auto">
     <ul class="navbar-nav navbar-center bottom-nav-list m-auto">
      <li class="nav-item"><a href="home.html">Home</a></li>
      <li class="nav-item"><a href="cards.html">Cards</a></li>
      <li class="nav-item"><a href="dice.html">Dice</a></li>
      <li class="nav-item"><a href="coin.html">Coin</a></li>
     </ul>
    </nav>
   </footer>
  </div>
  <!-- only on cards & practice-cards <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- this should be different depending on page <script src="javascripts\cards.js" type="text/javascript"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>