<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is a virtual arcade that includes the basic elements used in casino games including cards, dice, and coins">
    <meta name="keywords" content="virtual, cards, poker, dice, roll, coin, flip, luck, chance, percentages, gambling, casino">
    <meta name="author" content="Kristoffer Swodeck">
    <title><%=pageTitle%></title>
    <link rel="icon" href="\images\pocket-poker-favicon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/3287f2c91c.js" crossorigin="anonymous"></script>
  </head>
  <body class="m-auto">
    <div id ="main-container" class="container-fluid">
      <header id="header" class="mb-md-4 mb-2">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="main-navbar" role="navigation">
          <div class="row" id="main-links-row">
            <div class="col-4 main-dropdown header-div">
              <a class="secondary-link dropdown-toggle" href="/" role="button" id="dropdownMainLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pocket Poker</a>
              <div class="dropdown-menu" id="mainDropdown" aria-labelledby="dropdownMainLink">
                <% if (!currentUser){ %>
                <a class="secondary-link dropdown-item px-md-1 p-0" href="register">Sign Up</a>
                <a class="secondary-link dropdown-item px-md-1 p-0" onclick="displayLoginDialog('false')" href="#">Log In</a>
                <% } else { %>
                <a class="secondary-link dropdown-item px-md-1 p-0" href="account">My Account</a>
                <a class="secondary-link dropdown-item px-md-1 p-0" href="/logout">Log Out</a>
                <% } %>
              </div>
            </div>
                <div id="linksDropdown" class="col-4 header-div">
                  <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav text-center m-auto" id="main-links-list">
                      <div class="col-md-3 top-menu-div">
                        <li class="nav-item"><a class="secondary-link" role="button" href="/">Home</a></li>
                      </div>
                      <div class="col-md-3 top-menu-div cards-dropdown"> <!-- there should be coins on cards.html -->
                        <a class="secondary-link dropdown-toggle ml-md-0 ml-2" href="cards" role="button" id="dropdownCardsLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Poker</a>
                        <div class="dropdown-menu" id="cardsDropdown" aria-labelledby="dropdownCardsLink">
                          <a class="secondary-link dropdown-item px-md-1 p-0" href="cards">Competitive</a>
                          <a class="secondary-link dropdown-item px-md-1 p-0" href="practice-cards">Practice</a>
                          <a class="secondary-link dropdown-item px-md-1 p-0" href="leaderboard">Leaderboard</a>
                        </div>
                      </div>
                      <div class="col-md-3 top-menu-div">
                        <li class="nav-item"><a class="secondary-link" href="dice">Dice</a></li> <!-- current link should depend on page -->
                      </div>
                      <div class="col-md-3 top-menu-div">
                        <li class="nav-item"><a class="secondary-link" href="coin">Coin</a></li>
                      </div>
                  </ul>
                </div>
              </div>
          <div class="col-4 header-div" id="collapse-button-div">
            <span id="total-coins-span">{{ totalCoins }}</span><img class="mr-md-5 mr-sm-2 m-0" id="coins-img" src="/images/coins.png">
            <button id="hamburger-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
    </header>