<dialog id="loginDialog" class="container-fluid account-form-div account-dialog">
    <div class ="exit-button-div">
      <button id="loginDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('loginDialog')" >✖</button>
    </div> <!-- I'm here on refactor -->
    <h2 id="loginHeading" class="account-heading login-heading">Login to Pocket Poker</h2>
    <form action="/login" method="POST">
      <label for="username" class="account-label">Username</label><br>
      <input type="text" name="username" id="loginUsername" class="login-input" minlength="5" maxlength="20" placeholder="username" size="25" autocomplete="username" required><span class="login-valid-content"></span><br>
      <label for="password" class="account-label">Password</label><br>
      <input type="password" name="password" id="loginPassword" class="login-input password" minlength="5" maxlength="20" placeholder="password" size="25" autocomplete="current-password" required><i id="loginPassIcon" onclick="togglePasswordVisibility('loginPassword', 'loginPassIcon')" class="show-hide input-icon fas fa-eye"></i><span class="password-valid-check login-valid-content"></span><br>
      <ul id="invalid-login" class="invalid-fields-list"></ul>
      <input type="submit" name="login-submit" role="button" value="Log In" onclick="return validateAccountLogin()" class="btn md-text blue-bg gold-text btn-style account-button" id="login-button">
    </form>
    <div class="account-already">
      <a id="forgot-user-link" class="link-text" onclick="displayForgotDialog('forgotUserDialog', false)">Forgot Username</a> |
      <a id="forgot-pw-link" class="link-text" onclick="displayForgotDialog('forgotPWDialog', false)">Forgot Password</a> |
      <a id="account-signup-link" class="link-text" onclick="location.href='/register'">Sign Up</a>
    </div>
</dialog>
<dialog id="forgotUserDialog" class="container-fluid account-form-div account-dialog">
    <div class ="exit-button-div">
      <button id="forgotUserDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('forgotUserDialog')" >✖</button>
    </div>
    <h2 id="forgotUserHeading" class="account-heading login-heading">Forgotten Username</h2>
    <form action="/forgotuser" method="POST">
      <label for="email" class="account-label">Email</label><br>
      <input type="email" name="forgotUser[email]" id="forgotUserEmail" class="forgotUserInput" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete="email" required><span class="forgotUserValid"></span><br>
      <label for="birthday" class="account-label">Birthday</label><br>
      <input type="date" name="forgotUser[birthday]" id="forgotUserBirthday" class="forgotUserInput birthday" size="8" min="1920-01-01" max="2019-12-31" onkeypress="validateKeys(event, 'date')" pattern="^[0–9]$" title="format: mm-dd-yyyy" required><span class="forgotUserValid"></span><br>
      <ul id="invalid-forgot-username" class="invalid-fields-list"></ul>
      <input type="submit" name="forgot-pw-submit" role="button" value="Recover Username" class="btn md-text blue-bg gold-text btn-style account-button" id="forgot-pw-button">
    </form>
    <div class ="back-button-div">
      <button id="forgotUserBackButton"  class="back-arrow btn blue-text lg-text" name="back-arrow" onclick="backFromDialog('forgotUserDialog')"><i id="forgotUserBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
      <span class="back-button-label blue-text sm-text" onclick="backFromDialog('forgotUserDialog')">Back to Login</span>
    </div>
</dialog>
<dialog id="forgotPWDialog" class="container-fluid account-form-div account-dialog">
    <div class ="exit-button-div">
      <button id="forgotPWDialogExit" class="exit-dialog-button md-text" onclick="exitDialog('forgotPWDialog')" >✖</button>
    </div>
    <h2 id="forgotPWHeading" class="account-heading login-heading">Forgotten Password</h2>
    <form action="/forgotpass" method="POST">
      <label for="email" class="account-label">Email</label><br>
      <input type="email" name="forgotPW[email]" id="forgotPWEmail" class="forgotPassInput" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete="email" required><span class="forgotPassValid"></span><br>
      <label for="username" class="account-label">Username</label><br>
      <input type="text" name="forgotPW[username]" class="forgotPassInput" minlength="5" maxlength="20" placeholder="username" size="25" autocomplete="username" required><span class="forgotPassValid"></span><br>
      <label for="birthday" class="account-label">Birthday</label><br> <!-- phone number XXX-XXX-XXXX pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
      <input type="date" name="forgotPW[birthday]" id="forgotPWBirthday" class="forgotPassInput birthday" size="8" min="1920-01-01" max="2019-12-31" onkeypress="validateKeys(event, 'date')" pattern="^[0–9]$" title="format: mm-dd-yyyy" required><span class="forgotPassValid"></span><br>
      <ul id="invalid-forgot-password" class="invalid-fields-list"></ul>
      <input type="submit" name="forgot-user-submit" role="button" value="Recover Password" class="btn md-text blue-bg gold-text btn-style account-button" id="forgot-user-button">
    </form>
    <div class ="back-button-div">
      <button id="forgotPWBackButton" class="back-arrow btn blue-text lg-text" name="back-arrow" onclick="backFromDialog('forgotPWDialog')"><i id="forgotPWBackArrow" class="fas fa-long-arrow-alt-left back-icon"></i></button>
      <span class="back-button-label blue-text sm-text" onclick="backFromDialog('forgotPWDialog')">Back to Login</span>
    </div>
</dialog>