<%- include('partials/header') %>

<div id="mid-container">
    <div id="accountUpdateDiv" class="container-fluid myAccountDiv">
        <h2 id="form-heading" class="account-heading">My Account</h2>
        <form action="/account/?_method=PUT" method="POST">
          <div class="name-row row">
            <div id="firstNameCol" class="name-col col">
              <label for="firstName" class="account-label account-name-label">First Name</label><br>
              <input type="text" name="updateUser[firstName]" id="firstName" class="account-input account-name-input" minlength="1" maxlength="30" value="first" size="20" autofocus autocomplete disabled><span class="valid-content"></span>
            </div>
            <div id="lastNameCol" class="name-col col">
              <label for="lastName" class="account-label account-name-label">Last Name</label><br>
              <input type="text" name="updateUser[lastName]" id="lastName" class="account-input account-name-input" minlength="1" maxlength="40" value="last" size="20" autocomplete disabled><span class="valid-content"></span>
            </div>
          </div>
          <label for="email" class="account-label">Email</label><br> <!-- email validations aren't fully sufficient -->
          <input type="email" name="updateUser[email]" id="updateEmail" class="account-input" minlength="8" maxlength="60" value="username@domain.com" size="40" autocomplete disabled><span class="valid-content"></span><br>
          <label for="username" class="account-label">Username</label><br> <!-- username validations are sufficient -->
          <input type="text" name="updateUser[username]" class="account-input" minlength="5" maxlength="20" value="username" size="25" autocomplete disabled><span class="valid-content"></span><br>
          <label for="password" class="account-label">Password</label><br> <!-- password validations aren't fully sufficient -->
          <input type="password" name="updateUser[password]" id="updatePassword" class="account-input password" minlength="5" maxlength="20" value="password" size="25" autocomplete disabled><i id="updatePassIcon" onclick="togglePasswordVisibility('updatePassword', 'updatePassIcon')" class="show-hide fas fa-eye"></i><span class="valid-content"></span><br>
          <label for="phone" class="account-label">Phone Number</label><br> <!-- phone number validations aren't sufficient, complex -->
          <input type="tel" name="updateUser[phone]" class="account-input" minlength="10" maxlength="16" value="XXX-XXX-XXXX" size="20" inputmode="numeric" onkeypress="validateKeys(event, 'tel')" title="format: XXX-XXX-XXXX" autocomplete disabled><span class="valid-content"></span><br>
          <label for="birthday" class="account-label">Birthday</label><br> <!-- phone number XXX-XXX-XXXX pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
          <input type="date" name="updateUser[birthday]" id="updateBirthday" class="account-input birthday" size="8" min="1920-01-01" max="2019-12-31" onkeypress="validateKeys(event, 'date')" pattern="^[0–9]$" title="format: mm-dd-yyyy" autocomplete disabled><span class="valid-content"></span><br>
          <ul id="invalid-fields-list"> <!-- date validations are sufficient -->
          </ul>
          <input type="submit" name="account-update" onclick="return validateAccountUpdate()" role="button" value="Update Account" class="btn account-button" id="accountUpdate" disabled>
        </form>
      </div>
    </div>

</div>

<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>