<%- include('partials/header') %>
<div id="mid-container">
  <h1 id="page-heading">Community Blog</h1>
    <div id="blog-table-div">
      <table id ="board-table">
        <thead>
          <tr id="board-table-row">
            <th id="board-table-heading" class="blog-board-cell md-text gold-text" scope="colgroup">Blog Discussion Boards</th>
          </tr>
        </thead>
        <tbody id ="board-table-body" class="sm-text">
          <tr class ="board-table-row">
            <td class ="board-table-cell"><a class="blog-board-link" href="/blog/poker">Poker Tips, Strategies, & Discussion</a></td>
          </tr>
          <tr class ="board-table-row">
            <td class ="board-table-cell"><a class="blog-board-link" href="/blog/farkle">Farkle Tips, Strategies, & Discussion</a></td>
          </tr>
          <tr class ="board-table-row">
            <td class ="board-table-cell"><a class="blog-board-link" href="/blog/slots">Casino Slot Machine Tips, Strategies, & Discussion</a></td>
          </tr>
          <tr class ="board-table-row">
            <td class ="board-table-cell"><a class="blog-board-link" href="/blog/other">Other Casino Game Tips, Strategies, & Discussion</a></td>
          </tr>
          <tr class ="board-table-row">
            <td class ="board-table-cell"><a class="blog-board-link" href="/blog/requests">New Discussion Board Suggestions, Feedback, & Feature Requests</a></td>
          </tr>
          <tr class ="board-table-row">
            <td class ="board-table-cell"><a class="blog-board-link" href="/blog/random">Random Topics</a></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<%- include('partials/commondialogs') %>