<%- include('partials/header') %>
<div id="mid-container">
  <h1 id="page-heading">Community Blog</h1>
  <div id="page-description-div" class="main-description red-text">Coming Soon!</div>
    <div id="blog-table-div">
      <table id ="board-table" class="sm-text">
        <thead>
          <tr id="board-table-row">
            <th id="board-table-heading" class="blog-board-cell md-text gold-text" scope="colgroup">Blog Boards</th>
          </tr>
        </thead>
        <tbody id ="board-table-body">
          <tr class ="board-table-row">
            <td class ="board-table-cell"></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<%- include('partials/commondialogs') %>