<%- include('partials/header') %>

<div id="mid-container">
  <h1 id="page-heading">Farkle</h1>
  <div class="dice-prep-div">
    <button type="submit" role="button" id="farkle-roll-button" class="btn lg-text gold-bg red-text btn-style" onclick="farkleRoll()">Roll Dice</button>
    <button type="submit" role="button" id="farkle-end-button" class="btn lg-text red-bg gold-text btn-style" onclick="endTurn()" disabled>End Turn</button>
  </div>
  <div id="farkle-container">
    <div id="farkle-roll-div">
      <div class="farkle-slot-div" id="dice-0-div" onclick="toggleDiceHold('hold0')">
        <figcaption class="hold-dice-text text-opacity" id="hold0">HOLD</figcaption>
        <img class ="dice" src="" id="dice0">
      </div>
      <div class="farkle-slot-div" id="dice-1-div" onclick="toggleDiceHold('hold1')">
        <figcaption class="hold-dice-text text-opacity" id="hold1">HOLD</figcaption>
        <img class ="dice" src="" id="dice1">
      </div>
      <div class="farkle-slot-div" id="dice-2-div" onclick="toggleDiceHold('hold2')">
        <figcaption class="hold-dice-text text-opacity" id="hold2">HOLD</figcaption>
        <img class ="dice" src="" id="dice2">
      </div>
      <div class="farkle-slot-div" id="dice-3-div" onclick="toggleDiceHold('hold3')">
        <figcaption class="hold-dice-text text-opacity" id="hold3">HOLD</figcaption>
        <img class ="dice" src="" id="dice3">
      </div>
      <div class="farkle-slot-div" id="dice-4-div" onclick="toggleDiceHold('hold4')">
        <figcaption class="hold-dice-text text-opacity" id="hold4">HOLD</figcaption>
        <img class ="dice" src="" id="dice4">
      </div>
      <div class="farkle-slot-div" id="dice-5-div" onclick="toggleDiceHold('hold5')">
        <figcaption class="hold-dice-text text-opacity" id="hold5">HOLD</figcaption>
        <img class ="dice" src="" id="dice5">
      </div>
    </div>
    <h3 id="roll-ranking-heading"></h3>
    <h3 id="roll-score-heading" class="green-text">0</h3>
    <div id="farkle-roll-score-div">
      <span id="current-dice-heading" class="table-heading">Score</span>
     </div>
  </div>
</div>
<dialog id="confirmDialog" class="container-fluid account-form-div account-dialog">
  <h4 id="confirmHeading" class="md-text blue-text">Are you sure you want to end your turn?</h4>
  <div id="confirmDialogDiv" class="row justify-content-around">
    <div class="col">
      <button id="confirmButton" class="btn sm-text red-bg gold-text btn-style">Yes</button>
    </div>
    <div class="col">
      <button id="cancelButton" class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('confirmDialog')">No</button>
    </div>
  </div>
</dialog>
<dialog id="endTurnDialog">
  <span class="sm-text">Points scored: </span><span id="endTurnPopupSpan" class="blue-text sm-text"></span>
  <div id="endTurnDiv">
      <button id="endTurnCancel" class="btn sm-text red-bg gold-text btn-style">OK</button>
    </div>
</dialog>

<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<script src="javascripts\farkle.js" type="text/javascript" ></script>
<%- include('partials/javascripts') %>