<%- include('partials/header') %>

<div id="mid-container">
  <h1 id="page-heading">Farkle</h1>
  <div class="dice-prep-div">
    <button type="button" role="button" id="farkle-roll-button" class="btn lg-text gold-bg red-text btn-style" onclick="casualFarkleRoll()">Play Farkle</button>
    <button type="button" role="button" id="farkle-end-button" class="btn lg-text red-bg gold-text btn-style" onclick="endCasualTurn()" disabled>End Turn</button>
    <div id="player-quantity-input-div" class="form-row num-quantity-input-div">
      <label for="playerquantity" class="sm-text blue-text">How many players are there?</label>
      <input type="number" id="playerquantity" class="numquantity sm-text blue-text" name="playerquantity" min="1" max="10" value="1" step="1">
    </div>
  </div>
  <div id="farkle-container">
    <div id="farkle-roll-div">
      <div class="farkle-slot-div" id="dice-0-div">
        <figcaption class="hold-dice-text text-opacity" id="hold0">HELD</figcaption>
        <img class ="dice" src="" id="dice0">
      </div>
      <div class="farkle-slot-div" id="dice-1-div">
        <figcaption class="hold-dice-text text-opacity" id="hold1">HELD</figcaption>
        <img class ="dice" src="" id="dice1">
      </div>
      <div class="farkle-slot-div" id="dice-2-div">
        <figcaption class="hold-dice-text text-opacity" id="hold2">HELD</figcaption>
        <img class ="dice" src="" id="dice2">
      </div>
      <div class="farkle-slot-div" id="dice-3-div">
        <figcaption class="hold-dice-text text-opacity" id="hold3">HELD</figcaption>
        <img class ="dice" src="" id="dice3">
      </div>
      <div class="farkle-slot-div" id="dice-4-div">
        <figcaption class="hold-dice-text text-opacity" id="hold4">HELD</figcaption>
        <img class ="dice" src="" id="dice4">
      </div>
      <div class="farkle-slot-div" id="dice-5-div">
        <figcaption class="hold-dice-text text-opacity" id="hold5">HELD</figcaption>
        <img class ="dice" src="" id="dice5">
      </div>
    </div>
    <h3 id="roll-ranking-heading"></h3>
    <h3 id="roll-score-heading" class="green-text">0</h3>
    <div id="farkle-roll-score-div" class="farkle-score-div">
      <span id="current-dice-heading" class="current-table-heading md-text">Score</span>
    </div>
    <div id="farkle-total-score-div" class="farkle-score-div">
      <span id="total-dice-heading" class="table-heading md-text">Total</span>
      <span id="total-score-text" class="roll-score md-text farkle-turn-tally"></span>
    </div>
  </div>
</div>
</div>
<dialog id="endTurnDialog" class="sm-dialog">
  <b class="blue-text md-text">Turn Ended</b><br>
  <span class="sm-text">Points scored: </span><span id="endTurnPopupSpan"></span>
  <div id="endTurnDiv" class="farkle-div">
      <button id="endTurnCancel" class="btn sm-text red-bg gold-text btn-style">OK</button>
    </div>
</dialog>
<dialog id="farkleDialog" class="md-dialog">
  <b class="red-text md-text">FARKLE</b><br>
  <span class="blue-text sm-text">Your turn has ended with a score of </span><span id="farklePopupSpan">0</span>
  <div id="farkleDiv" class="farkle-div">
      <button id="farkleCancel" class="btn sm-text blue-bg gold-text btn-style">OK</button>
  </div>
</dialog>
<dialog id="multiPlayerSetupDialog">
  <span id="choosePlayersHeading" class="md-text">Choose Player Names</span>
  <form action="#" onsubmit="return false">
    <div id="multiPlayerSetupDiv" class="farkle-div multiPlayerDiv"></div>
    <div id="multiPlayerSetupButtonDiv" class="farkle-div row">
      <button type="submit" id="multiPlayerSetupConfirm" class="btn sm-text blue-bg gold-text btn-style">Play</button>
    </div>
  </form>
</dialog>
<dialog id="multiPlayerScoreDialog">
  <span id="playerScoresHeading" class="md-text">Player Scores</span>
  <div id="multiPlayerScoreDiv" class="farkle-div multiPlayerDiv">
  </div>
  <div id="multiPlayerScoreButtonDiv" class="row farkle-div">
    <div class="col">
      <button id="multiPlayerScoreContinue" class="btn sm-text blue-bg gold-text btn-style">Next Player</button>
    </div>
    <div class="col">
      <button id="multiPlayerScoreEnd" class="btn sm-text red-bg gold-text btn-style" onclick="endGameConfirm()">End Game</button>
    </div>
  </div>
</dialog>
<dialog id="endGameConfirmDialog">
  <span id="endGameConfirmHeading" class="sm-text blue-text">Are you sure you want to end the game?</span>
  <div id="endGameConfirmDialogDiv" class="row farkle-div multiPlayerDiv">
    <div class="col">
      <button id="endGameConfirmButton" class="btn sm-text red-bg gold-text btn-style">Yes</button>
    </div>
    <div class="col">
      <button id="endGameCancelButton" class="btn sm-text blue-bg gold-text btn-style" onclick="exitDialog('endGameConfirmDialog'); displayDialog('multiPlayerScoreDialog')">No</button>
    </div>
  </div>
</dialog>
<dialog id="multiPlayerWinnerDialog" class="sm-dialog">
  <span id="multiPlayerWinnerSpan" class="md-text blue-text"></span><br>
  <span id="winnerScoreText" class="sm-text">Score:</span><span id="winnerScoreTotal" class="sm-text blue-text">0</span>
  <div id="multiPlayerWinnerDiv" class="farkle-div multiPlayerDiv">
      <button id="winnerCancel" class="btn sm-text blue-bg gold-text btn-style">OK</button>
  </div>
</dialog>

<%- include('partials/farkledialogs') %>
<%- include('partials/commondialogs') %>