<%- include('partials/header') %>

<div id="mid-container">
    <h1 id="page-heading">Virtual Coin Flip</h1>
    <div id="page-description-div" class="xs-text">Play the odds with a virtual coin flip!</div>
    <div>
      <button type="button" name="flip-button" id="coin-flip-button" class="btn lg-text gold-bg red-text btn-style" onclick="coinFlip()">Flip Coin</button>
    </div>
    <div id="coin-flip-div"></div>
    <div id="winner-div"></div>
    <div id="coin-flip-tally-div" class="bluish-bg">
      <span id="coin-heading" class="table-heading">Tally</span>
      <span id="heads-tally" class="result-tally">Heads: </span><span id="head_win" class="result-tally result"></span><br />
      <span id="tails-tally" class="result-tally">Tails: </span><span id="tail_win" class="result-tally result"></span><br />
      <button type="reset" name="tally-button" id="clear-tally-button" class="btn sm-text red-bg gold-text btn-style" onclick="clearTally()">Clear Tally</button>
    </div>
    </div>

<script defer src="javascripts\coin.js" type="text/javascript" ></script>
<%- include('partials/commondialogs') %>