<%- include('partials/header') %>

<div id="mid-container">
  <div class="account-form-div">
    <h2 id="form-heading" class="account-heading blue-text">Contact Us</h2>
    <form action="/contact" method="POST" onsubmit="sendContactEmail()">
      <div class="name-row row">
        <div id="firstNameCol" class="name-col col">
          <label for="firstName" class="account-label sm-txt">First Name</label><br>
          <input type="text" name="firstName" id="firstName" class="account-input user-input" minlength="1" maxlength="40" placeholder="first" size="20" autocomplete="given-name" required>
        </div>
        <div id="lastNameCol" class="name-col col">
          <label for="lastName" class="account-label sm-txt">Last Name</label><br>
          <input type="text" name="lastName" id="lastName" class="account-input user-input" minlength="1" maxlength="50" placeholder="last" size="20" autocomplete="family-name" required>
        </div>
      </div>
      <label for="email" class="account-label sm-txt">Email</label><br>
      <input type="email" name="email" id="contactEmail" class="account-input user-input" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete="email" required><br>
      <label for="contactSubject" class="account-label sm-txt">Subject</label><br>
      <input list="contactSubjectList" name="contactSubject" id="contactSubject" class="account-input user-input" minlength="2" maxlength="40" size="40" required>
      <datalist id="contactSubjectList">
        <option value="Account Assistance">
        <option value="Bug Found or Technical Difficulties">
        <option value="Questions or Concerns">
        <option value="Feature Request or Idea">
        <option value="Website Feedback">
      </datalist><br>
      <label for="contactTextArea" class="account-label sm-txt">Message</label><br>
      <textarea id="contactTextArea" class="account-input user-input" cols="50" rows="6" maxlength="1000" required></textarea><br>
      <!-- <input type="file" id="contactFile" class="account-input user-input" accept=".png, .jpeg, .jpg, .jfif, .gif, .giff, .pdf, .doc, .docx, .odf, .rtf, .txt"> -->
      <ul id="invalid-fields-list" class="invalid-fields-list">
      <% if (emailSent){ %>
        <li class="valid-list">Your email has been sent</li>
      <% } %>
      </ul>
      <button type="submit" role="button" name="account-submit" class="btn md-text blue-bg gold-text btn-style account-button" id="contactUsButton" onclick="validateContactUs()">Send Message</button>
    </form>
  </div>
</div>

<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>