<%- include('partials/header') %>

<div id="mid-container">
  <h1 id="page-heading" class="main-heading"><%= status %></h1>
  <div id="page-description-div" class="main-description"><%= message %></div>
  <img src="\images\casinocompetitor.webp" alt="CasinoCompetitor" id="home-logo">
</div>

<%- include('partials/commondialogs') %>
