<%- include('partials/header') %>

<div id="mid-container">
    <h1 id="page-heading">Competitive Farkle</h1>
    <div id = "farkle-prep-row" class="row">
        <div id="current-bet-div" class="col">
          <button id="bet-button" class="btn betWinButton md-text gold-text" type="submit" name="bet-button" onclick="toggleBet()">bet<span id ="current-bet-span">10</span></button>
        </div>
        <div id="dice-prep-div" class="col">
          <button type="submit" role="button" id="farkle-roll-button" class="btn lg-text gold-bg red-text btn-style" name="farkle-button" onclick="farkleRoll()">Roll Dice</button>
          <button type="submit" role="button" id="farkle-end-button" class="btn lg-text red-bg gold-text btn-style" name="end-button" onclick="endTurn()" disabled>End Turn</button>
          </div>
        <div id="current-win-div" class="col">
          <button id="win-button" class="btn betWinButton md-text gold-text" type="submit" name="win-button" disabled>win<span id="current-win-span">0</span></button>
        </div>
      </div>
      <div id="farkle-container">
        <div id="farkle-roll-div">
          <div class="farkle-slot-div" id="dice-0-div">
            <figcaption class="hold-dice-text text-opacity" id="hold0">HELD</figcaption>
            <img class ="dice" src="" id="dice0">
          </div>
          <div class="farkle-slot-div" id="dice-1-div">
            <figcaption class="hold-dice-text text-opacity" id="hold1">HELD</figcaption>
            <img class ="dice" src="" id="dice1">
          </div>
          <div class="farkle-slot-div" id="dice-2-div">
            <figcaption class="hold-dice-text text-opacity" id="hold2">HELD</figcaption>
            <img class ="dice" src="" id="dice2">
          </div>
          <div class="farkle-slot-div" id="dice-3-div">
            <figcaption class="hold-dice-text text-opacity" id="hold3">HELD</figcaption>
            <img class ="dice" src="" id="dice3">
          </div>
          <div class="farkle-slot-div" id="dice-4-div">
            <figcaption class="hold-dice-text text-opacity" id="hold4">HELD</figcaption>
            <img class ="dice" src="" id="dice4">
          </div>
          <div class="farkle-slot-div" id="dice-5-div">
            <figcaption class="hold-dice-text text-opacity" id="hold5">HELD</figcaption>
            <img class ="dice" src="" id="dice5">
          </div>
        </div>
        <h3 id="roll-ranking-heading"></h3>
        <h3 id="roll-score-heading" class="green-text">0</h3>
        <div id="farkle-roll-score-div" class="farkle-score-div">
          <span id="current-dice-heading" class="current-table-heading md-text">Score</span>
        </div>
        <div id="farkle-total-score-div" class="farkle-score-div">
          <span id="total-dice-heading" class="table-heading md-text">Total</span>
          <span id="total-score-text" class="roll-score md-text farkle-turn-tally"></span>
        </div>
      </div>
    </div>
    </div>
    <dialog id="endTurnDialog" class="sm-dialog">
      <b class="blue-text md-text">Turn Ended</b>
      <div id="winCoinsDiv" class="coinsDiv">
        <span id="coin-win-popup-text" class="dialog-popup-text">You win</span><span id="number-coins-won" class="coinsWon"></span><img loading="lazy" id="coins-popup-img" src="images/coins.webp">
      </div>
      <div id="endTurnDiv" class="farkle-div">
        <button id="endTurnCancel" class="btn sm-text red-bg gold-text btn-style">OK</button>
      </div>
    </dialog>
    <dialog id="farkleDialog" class="md-dialog">
      <b class="red-text md-text">FARKLE</b>
      <div id="farkleCoinsDiv" class="coinsDiv">
        <span class="blue-text sm-text">Your turn has ended with</span><span id="farklePopupSpan" class="coinsWon">0</span><img loading="lazy" id="coins-farkle-img" src="images/coins.webp">
      </div>
      <div id="farkleDiv" class="farkle-div">
        <button id="farkleCancel" class="btn sm-text blue-bg gold-text btn-style">OK</button>
      </div>
    </dialog>
    <dialog id="outOfCoinsDialog" class="md-dialog">
        <p class="dialog-popup-text">You don't have enough coins!<br />
        <a id="practice-mode-link" class="sm-text blue-bg blue-text link-text" href="/casual-farkle">Play Casual Mode</a></p>
        <div id="dialogButtonDiv" class="row">
          <div class="col">
            <button id="outOfCoinsCancel" class="btn sm-text red-bg gold-text btn-style" value="cancel" onclick="exitDialog('outOfCoinsDialog')">Cancel</button>
          </div>
          <div class="col">
           <button id="confirmBtn" class="btn sm-text blue-bg gold-text btn-style"><a id="go-button-link" role="button" href="/casual-farkle">Go</a></button>
          </div>
        </div>
      </dialog>

<%- include('partials/farkledialogs') %>
<%- include('partials/logindialogs') %>
<%- include('partials/javascripts') %>