<%- include('partials/header') %>

<div id="mid-container">
</div>

<script>
  window.onload = () => displayForgotDialog('forgotUserDialog', '<%= error %>');
</script>
  
<%- include('partials/logindialogs') %>
<%- include('partials/javascripts') %>