<%- include('partials/header') %>

<div id="mid-container">
</div>

<script>
  window.onload = function() {
    displayLoginDialog('forgotPassDialog');
  };
</script>
  
<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>