<%- include('partials/header') %>

<div id="mid-container">
  <h1 id="home-heading"><span id="welcome-home" class="italicized-subheading">Welcome to</span><br />Casino Competitor</h1>
  <img src="images\casinocompetitor.webp" alt="CasinoCompetitor" id="home-logo">
  <% if (currentUser){ %>
  <h3 id="usernameHome" class="username-welcome blue-text"><%= currentUser.username %></h3>
  <button id="homePokerButton" class="homeButton btn lg-text gold-bg red-text btn-style" role="button" onclick="location.href='/cards'">Play Poker</button>
  <button id="homeBlogButton" class="homeButton btn lg-text gold-bg red-text btn-style" role="button" onclick="location.href='/blog'">View Blog</button>
  <button id="homeFarkleButton" class="homeButton btn lg-text gold-bg red-text btn-style" role="button" onclick="location.href='/farkle'">Play Farkle</button>
  <% } else { %>
  <div id="SignUpDiv">
    <h4 id="SignUpHome" class="blue-text md-text">Ready to start competing?</h3>
    <button id="homeSignUpButton" class="homeButton btn md-text red-bg gold-text btn-style" role="button" onclick="location.href='/register'">Sign Up</button>
    <button id="homeBlogButton" class="homeButton btn md-text red-bg gold-text btn-style" role="button" onclick="location.href='/blog'">View Blog</button>
  </div>
  <% } %>
  </div>
<dialog id="logoutDialog" class="account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="logoutDialogExit" class="exit-dialog-button md-text" role="button" onclick="exitDialog('logoutDialog')" >✖</button>
  </div>
  <h2 id="logoutHeading" class="account-heading login-heading blue-text">You've been logged out</h2>
  <div id="logoutDialogDiv" class="row">
    <div class="col">
      <button id="logoutLoginButton" class="btn sm-text red-bg gold-text btn-style" role="button" onclick="backFromDialog('logoutDialog')">Log In</button>
    </div>
    <div class="col">
      <button id="logoutRegisterButton" class="btn sm-text red-bg gold-text btn-style" role="button" onclick="window.location.href='/register'">Sign Up</button>
    </div>
  </div>
</dialog>
<dialog id="loginStreakDialog" class="account-form-div account-dialog">
  <div class ="exit-button-div">
    <button id="streakDialogExit" class="exit-dialog-button md-text" role="button" onclick="window.location.reload()">✖</button>
  </div>
    <b id="streakHeading" class="blue-text md-text"></b><br>
    <b id="login-streak-win" class="red-text md-text"></b><img loading="lazy" alt="coins" id="loginStreakCoinImg" class="coins-img" src="images/coins.webp"><br>
    <b class="coins-streak blue-text md-text">Keep up the streak!</b>
</dialog>

<% if (popup && popup.length > 0){ %>
<script>
  document.getElementById('mid-container').style.display = 'none';
  window.addEventListener('DOMContentLoaded', (event) => {
    displayLogoutDialog();
  });
</script>
<% } else if (currentUser && !loggedInToday) { %>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    displayStreakDialog('<%= streak %>');
    var uri = window.location.toString();
    if (uri.indexOf("?") > 0) {
      var clean_uri = uri.substring(0, uri.indexOf("?"));
      window.history.replaceState({}, document.title, clean_uri);
    }
  });
</script>
<% } %>

<%- include('partials/commondialogs') %>
