<%- include('partials/header') %>

<div id="logoutDialog" class="container-fluid account-form-div">
    <h2 id="logoutHeading" class="account-heading login-heading">Logging Out</h2>
</div>
  
<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>