<%- include('partials/header') %>

<div id="mid-container">
</div>

<% if (pageTitle === 'Login'){ %>
  <script>
    window.onload = () => displayLoginDialog('<%= error %>');
  </script>
  <% } else if (pageTitle === 'Forgot Username') { %>
  <script>
    window.onload = () => displayForgotDialog('forgotUserDialog', '<%= error %>');
  </script>
  <% } %>
  
<%- include('partials/commondialogs') %>