<%- include('partials/header') %>

<div id="mid-container">
    <div id="account-form-div" class="container-fluid account-form-div">
      <h2 id="form-heading" class="account-heading">Create An Account</h2>
      <form action="/register" method="POST">
        <div class="name-row row">
          <div id="firstNameCol" class="name-col col">
            <label for="firstName" class="account-label account-name-label">First Name</label><br>
            <input type="text" name="createUser[firstName]" id="firstName" class="account-input account-name-input" minlength="1" maxlength="30" placeholder="first" size="20" autofocus autocomplete required><span class="valid-content"></span>
          </div>
          <div id="lastNameCol" class="name-col col">
            <label for="lastName" class="account-label account-name-label">Last Name</label><br>
            <input type="text" name="createUser[lastName]" id="lastName" class="account-input account-name-input" minlength="1" maxlength="40" placeholder="last" size="20" autocomplete required><span class="valid-content"></span>
          </div>
        </div>
        <label for="email" class="account-label">Email</label><br> <!-- email validations aren't fully sufficient -->
        <input type="email" name="createUser[email]" id="newEmail" class="account-input" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete required><span class="valid-content"></span><br>
        <label for="username" class="account-label">Username</label><br> <!-- username validations are sufficient -->
        <input type="text" name="createUser[username]" class="account-input" minlength="5" maxlength="20" placeholder="username" size="25" autocomplete required><span class="valid-content"></span><br>
        <label for="password" class="account-label">Password</label><br> <!-- password validations aren't fully sufficient -->
        <input type="password" name="password" id="newPassword" class="account-input password" minlength="5" maxlength="20" placeholder="password" size="25" autocomplete="new-password" required><i id="newPassIcon" onclick="togglePasswordVisibility('newPassword', 'newPassIcon')" class="show-hide input-icon fas fa-eye"></i><span class="valid-content"></span><br>
        <label for="repeatPassword" class="account-label">Repeat Password</label><br>
        <input type="password" name="repeatPassword" id="repeatPassword" class="account-input password" minlength="5" maxlength="20" placeholder="password" size="25" autocomplete="new-password" required><i id="repeatPassIcon" onclick="togglePasswordVisibility('repeatPassword', 'repeatPassIcon')" class="show-hide input-icon fas fa-eye"></i><span class="valid-content"></span><br>
        <label for="phone" class="account-label">Phone Number</label><br> <!-- phone number validations aren't sufficient, complex -->
        <input type="tel" name="createUser[phone]" class="account-input" minlength="10" maxlength="16" placeholder="XXX-XXX-XXXX" size="20" inputmode="numeric" onkeypress="validateKeys(event, 'tel')" title="format: XXX-XXX-XXXX" autocomplete required><span class="valid-content"></span><br>
        <label for="birthday" class="account-label">Birthday</label><br> <!-- phone number XXX-XXX-XXXX pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
        <input type="date" name="createUser[birthday]" id="newBirthday" class="account-input birthday" size="8" min="1920-01-01" max="2019-12-31" onkeypress="validateKeys(event, 'date')" pattern="^[0–9]$" title="format: mm-dd-yyyy" autocomplete required><span class="valid-content"></span><br>
        <ul id="invalid-fields-list"> <!-- date validations are sufficient -->
        </ul>
        <input type="submit" name="account-submit" onclick="return validateAccountCreate()" role="button" value="Create Account" class="btn account-button" id="accountCreate">
      </form>
      <div class="account-already">Already have an account? <a id="account-login-link" onclick="displayLoginDialog()">Login</a></div>
    </div>
  </div>
  
<%- include('partials/logindialogs') %>
<%- include('partials/footer') %>
<%- include('partials/javascripts') %>