<%- include('partials/header') %>
<script>window.addEventListener('load', () => getFormValues('account-input', createAccountNames))</script>
<div id="mid-container">
    <div class="account-form-div">
      <h2 id="form-heading" class="account-heading blue-text">Create An Account</h2>
      <form action="/register" method="POST">
        <div class="name-row row">
          <div id="firstNameCol" class="name-col col">
            <label for="firstName" class="account-label sm-txt">First Name</label><br>
            <input type="text" name="firstName" id="firstName" class="account-input user-input" minlength="1" maxlength="40" placeholder="first" size="20" autocomplete="given-name" required>
          </div>
          <div id="lastNameCol" class="name-col col">
            <label for="lastName" class="account-label sm-txt">Last Name</label><br>
            <input type="text" name="lastName" id="lastName" class="account-input user-input" minlength="1" maxlength="50" placeholder="last" size="20" autocomplete="family-name" required>
          </div>
        </div>
        <label for="newEmail" class="account-label sm-txt">Email</label><br>
        <input type="email" name="email" id="newEmail" class="account-input user-input" minlength="8" maxlength="60" placeholder="username@domain.com" size="40" autocomplete="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required><br>
        <label for="createUsername" class="account-label sm-txt">Username</label><br>
        <input type="text" name="username" id="createUsername" class="account-input user-input" minlength="5" maxlength="25" placeholder="username" size="30" autocomplete="username" required><br>
        <label for="newPassword" class="account-label sm-txt">Password</label><br>
        <input type="password" name="password" id="newPassword" class="account-input password user-input" minlength="5" maxlength="25" placeholder="password" size="30" autocomplete="new-password" required><i id="newPassIcon" onclick="togglePasswordVisibility('newPassword', 'newPassIcon')" onkeydown="togglePasswordVisibility('newPassword', 'newPassIcon')" class="show-hide input-icon fas fa-eye" tabindex="0"></i><br>
        <label for="repeatPassword" class="account-label sm-txt">Repeat Password</label><br>
        <input type="password" name="repeatPassword" id="repeatPassword" class="account-input password user-input" minlength="5" maxlength="25" placeholder="password" size="30" autocomplete="new-password" required><i id="repeatPassIcon" onclick="togglePasswordVisibility('repeatPassword', 'repeatPassIcon')" onkeydown="togglePasswordVisibility('repeatPassword', 'repeatPassIcon')" class="show-hide input-icon fas fa-eye" tabindex="0"></i><br>
        <label for="newBirthday" class="account-label sm-txt">Birthday</label><br>
        <input type="date" name="birthday" id="newBirthday" class="account-input birthday user-input" size="8" min="1920-01-01" max="2020-06-01" title="format: mm-dd-yyyy" autocomplete="bday" required><br>
        <label for="createPhone" class="account-label sm-txt">Phone Number</label><br>
        <input type="tel" name="phone" id="createPhone" class="account-input user-input" minlength="10" maxlength="16" size="25" inputmode="numeric" onpaste="forceNumeric(event, 'tel')" onkeypress="forceNumeric(event, 'tel')" title="format: XXXXXXXXXX" placeholder="XXXXXXXXXX" autocomplete="tel" required><br>
        <label for="profileImage" class="account-label sm-txt">Profile Picture</label>
        <input type="text" name="profileImage" id="profileImage" value="smiley" required>
        <ul id="profileImageList" class="horizontalList">
          <li><button type="button" class="avatarButton" onclick="selectAvatar(this)" name="male-avatar"><img src="images/male-avatar.webp" alt="male-avatar" class="avatarItem"></button></li>
          <li><button type="button" class="avatarButton" onclick="selectAvatar(this)" name="smiley"><img src="images/smiley.webp" class="avatarItem" alt="smiley"></button></li>
          <li><button type="button" class="avatarButton" onclick="selectAvatar(this)" name="smiley-money"><img src="images/smiley-money.webp" class="avatarItem" alt="smiley-money"></button></li>
          <li><button type="button" class="avatarButton" onclick="selectAvatar(this)" name="smiley-neutral"><img src="images/smiley-neutral.webp" class="avatarItem" alt="smiley-neutral"></button></li>
          <li><button type="button" class="avatarButton" onclick="selectAvatar(this)" name="female-avatar"><img src="images/female-avatar.webp" class="avatarItem" alt="female-avatar"></button></li>
        </ul>  
        <ul id="invalid-fields-list" class="invalid-fields-list">
          <% if (error && error.length > 0) { %>
          <li class="invalid-list"><%= error %></li>
          <% } %>
        </ul>
        <button type="submit" role="button" name="account-submit" onclick="return validateAccountCreate()" class="btn md-text blue-bg gold-text btn-style account-button" id="accountCreate">Create Account</button>
      </form>
      <div class="account-already">Already have an account? <a id="account-login-link" class="link-text" onclick="displayLoginDialog()" href="#">Login</a></div>
    </div>
  </div>
  
<%- include('partials/commondialogs') %>