body, html {
  font-family: "Georgia", "Verdana", "Times New Roman";
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden; /* navbar toggle button causes this to show no matter what when reaches small enough size */
  overflow-y: auto;
}

body {
  background-color: rgba(255, 255, 255);
  background-image: radial-gradient(ellipse, #FFFFFF 60%, #F4F7F9, #F3F4F6, #E3E6EE, #DBDFEB, #D1D7E5);
}

::-webkit-scrollbar {
  width: calc(5px + 0.1vw + 0.05vh);
  height: calc(5px + 0.05vw + 0.1vh);
  background-color: #343a40;
}
::-webkit-scrollbar-thumb {
  background-color: #343a40;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #D1D7E5;
}
::-webkit-scrollbar-thumb:hover, #table-search-cell {
  background-color: darkblue;
}

:root {
  --dice-width: calc(4px + 0.3vw + 0.3vh);
  --bluish: rgba(140, 145, 155, 0.5);
  --lightthemeblue: rgba(81, 101, 180, 0.7);
  --lightcrimson: rgb(250, 10, 50);
  --lightthemegold: rgba(255, 217, 0, 0.7);
  --darkgold: rgb(210, 180, 20);
  --darkcrimson: rgb(150, 0, 5);
  --darkerblue: rgb(0, 0, 100);
  --darkgrey: #343a40;
}

.lg-text {
  font-size: calc(20px + 0.9vw);
}
.md-text {
  font-size: calc(15px + 0.5vw);
}
.sm-text {
  font-size: calc(13px + 0.25vw);
}
button.gold-bg, input.gold-bg.btn, button.gold-bg:focus, input.gold-bg.btn:focus {
  background-color: gold;
  box-shadow: 0 6px var(--darkgold);
}
button.red-bg, input.red-bg.btn, button.red-bg:focus, input.red-bg.btn:focus{
  background-color: crimson;
  box-shadow: 0 6px var(--darkcrimson);
}
button.blue-bg, input.blue-bg.btn, button.blue-bg:focus, input.blue-bg.btn:focus {
  background-color: darkblue;
  box-shadow: 0 6px var(--darkerblue);
}
button.btn-style, input.btn-style {
  padding: 0.1% 1%;
  transition: all 0.1s ease-out 0s;
  white-space: nowrap;
  font-weight: bold;
  margin: 0.5% auto calc(6px + 0.2vh) auto;
  border: none;
  min-width: calc(38px + 2vw);
  min-height: calc(22px + 0.8vw);
  position: relative;
  box-sizing: border-box;
}
.gold-text {
  color: gold;
}
.red-text, button.exit-dialog-button:hover, #header a:active, a.link-text:active, .back-button-label:active, svg.back-icon:active, #dicequantity:hover, #dicequantity:focus {
  color: crimson;
}
.blue-text {
  color: darkblue;
}

button.gold-bg:hover, input.gold-bg.btn:hover {
  color: darkblue;
  box-shadow: 0 4px var(--darkgold);
  top: 2px;
}
button.gold-bg:active, input.gold-bg.btn:active, button.exit-dialog-button:active {
  box-shadow: 0 0 var(--darkgold);
  top: 6px;
}
button.red-bg:hover, input.red-bg.btn:hover {
  color: gold;
  box-shadow: 0 4px var(--darkcrimson);
  top: 2px;
}
button.red-bg:active, input.red-bg.btn:active {
  box-shadow: 0 0 var(--darkcrimson);
  top: 6px;
}
button.blue-bg:hover, input.blue-bg.btn:hover {
  color: gold;
  box-shadow: 0 4px var(--darkerblue);
  top: 2px;
}
button.blue-bg:active, input.blue-bg.btn:active {
  box-shadow: 0 0 var(--darkerblue);
  top: 6px;
}
button.btn:disabled, input.btn:disabled {
  opacity: 1;
  cursor: default;
  pointer-events: none;
}
button.exit-dialog-button:active {
  border-width: 0.08rem;
}

input.account-button {
  margin: 2% auto;
}

input:valid {
  border-color: green;
}
input:invalid {
  border-color: crimson;
}

#go-button-link, #footer a:hover, .secondary-link, #table-search-icon:hover {
  color: gold;
}

#dicequantity, #dicequantity:focus {
  color: darkblue;
  background-color: gold;
  border-color: crimson;
  width: calc(35px + 1.4vw);
  height: calc(14px + 0.6vw);
  text-align: left;
  cursor: pointer;
  margin-left: 0.5%;
  font-weight: bold;
  padding: 0.5%;
}

#coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div {
  margin: 2% auto;
  border: calc(1px + 0.2vw) solid darkblue;
  line-height: 1.25;
  padding: 0.2%;
  text-align: center;
  width: calc(90px + 4vw);
  max-width: 180px;
  display: none;
}
#hand-odds-div {
  max-width: 270px;
  display: none;
  margin: 0.5% auto 2% auto;
  border: calc(1px + 0.2vw) solid darkblue;
  line-height: 1.25;
  padding: 0.2% 0.1%;
  text-align: center;
}

#dice-clear-tally-col {
  display: none;
}

.table-heading, .current-table-heading {
  font-size: calc(11px + 0.5vw);
  font-weight: bold;
  display: block;
  text-decoration: underline;
}

.result-tally, .odds-span, .result, .loss, .win, #page-description-div, #dice-quantity-input-div {
  font-size: calc(10px + 0.35vw);
}

.result {
  font-weight: bold;
  color: darkblue;
}
.loss {
  color: crimson;
}
.win {
  color: green;
}

.cards {
  width: 100%;
  margin: auto;
}

.card-slot-div .interactive-card:hover {
  border: 0.06rem solid lightsteelblue;
  border-radius: 15px;
  cursor: pointer;
}
.card-slot-div .interactive-card:active, #dicequantity:active {
  border: 0.1rem solid darkblue;
}
.card-coins-input, #userIdInput {
  display: none;
  padding: 0;
  border: 0;
}

#coin {
  width: calc(5.5px + 0.5vw + 0.5vh);
  margin: calc(30px + 2%) auto;
}
#coin.spin-grow, .dice.spin-grow {
  transition: transform 0.5s ease-out 0s;
  transform: rotate(1440deg) scale(10);
}

.dice {
  width: var(--dice-width);
  margin: calc(28px + 2%);
  /* min-width: 28px; */
}

#dice-col, #dice-current-col {
  margin-left: 0;
  margin-right: 0;
}
#dice-roll-current-div {
  margin-right: 0;
}
#dice-roll-tally-div, .back-button-label, .dropdown-toggle::after {
  margin-left: 0;
}

#coins-img {
  width: calc(22px + 1vw);
}
.home-coins {
  width: calc(26px + 1.2vw);
}

#total-coins-span {
  font-size:calc(12px + 0.3vw);
  color: gold;
  font-weight: bold;
  margin-right: 1.5%;
  text-align: right;
}
.coins-welcome {
  font-size:calc(15px + 0.4vw);
  color: crimson;
  font-weight: bolder;
}
#total-coins-welcome, .home-coins {
  margin: 0.8% 0.3%;
}
.coins-streak-image {
  margin: 0.2% 0.3%;
  width: calc(24px + 1vw);
}
.coins-streak {
  font-size:calc(15px + 0.4vw);
  color: crimson;
  font-weight: bold;
}

button.poker-button, button.poker-button:focus {
  background-color: crimson;
  box-shadow: 0 6px var(--darkcrimson);
  font-weight: bold;
  padding: 0.1% 1% 8% 1%;
  border: none;
  border-radius: 50px;
  width: calc(38px + 2.3vw);
  height: calc(38px + 1.5vw);
  white-space: nowrap;
  transition: all 0.1s ease-out 0s;
  margin: 0.5% auto;
  position: relative;
  box-sizing: border-box;
  opacity: 1;
}
button.poker-button:hover {
  color: gold;
  box-shadow: 0 4px var(--darkcrimson);
  top: 2px;
}
button.poker-button:active {
  box-shadow: 0 0 var(--darkcrimson);
  top: 6px;
}

#current-win-span, #current-bet-span{
  display: block;
  line-height: 40%;
  text-align: center;
}

.winner, #winner, #final_winner, .hold-card-text {
  font-size: calc(9px + 0.6vw);
  font-weight: bold;
  color: darkblue;
  text-shadow: 5px 10px 9px lightsteelblue;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.winner {
  transition: all 2s linear 0s;
}

.hold-card-text {
  margin: 2% 0;
}
.text-opacity {
  opacity: 0.0001;
}

#card-deal-button, #current-bet-span, #current-win-span {
  visibility: hidden;
}

#home-heading {
  font-size: calc(23px + 1vw);
  text-transform: uppercase;
  text-shadow: 7px 2px 7px lightsteelblue, 7px 6px 7px lightsteelblue, 7px 10px 7px lightsteelblue;
}

#home-heading, #page-heading, #leaderboard-head {
  color: darkblue;
  font-weight: bold;
  text-align: center
}

#page-heading, #hand-ranking-heading {
  text-transform: uppercase;
  font-size: calc(18px + 0.9vw);
  text-shadow: 5px 10px 9px lightsteelblue;
}

#welcome-home {
  font-size: 70%;
  font-style: italic;
  text-transform: none;
  text-shadow: 5px 10px 9px lightsteelblue;
}

#leaderboard-span {
  font-size: 80%;
  font-style: italic;
  text-transform: none;
  text-shadow: 5px 10px 9px lightsteelblue;
}

#hand-ranking-heading {
  font-weight: bold;
  color: crimson;
  text-align: center;
  display: none;
}

#home-logo {
  width: calc(140px + 8vw);
  display: block;
}

#header {
  z-index: 10;
}

#header a:hover, #current-link, a.link-text:hover, .back-button-label:hover, svg.back-icon:hover {
  color: crimson;
  cursor: pointer;
  transition: all 0.4s;
}

#dropdownMainLink {
  font-size: 120%;
  font-style: italic;
  letter-spacing: -1.5px;
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 0.4s;
}
#mainDropdown a, #main-links-list a{
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 0.4s;
}

#dropdownCardsLink {
  font-size: 100%;
  margin-bottom: 2px;
}
#cardsDropdown, #mainDropdown {
  max-width: 180px;
  min-width: 100px;
  background-color: #343a40;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}
#dropdownCardsLink #dropdownMainLink, li a, #main-container, #play-container, #dice-col, #dice-current-col, #dice-roll-tally-div, #dice-roll-current-div, #table-search-cell, #search-button, .name-col {
  padding: 0;
} 

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding: 30px 0 0 0;
}
#footer a {
  color: crimson;
  font-size: 90%;
  font-weight: bold;
  text-decoration: underline;
  display: none;
  transition: all 0.4s;
}
.nav-item {
  padding: 0 5%;
}

#main-navbar {
  display: block;
  min-height: 40px;
  max-height: 40px;
}

.main-heading {
  margin: 2% auto 0.5% auto;
}
.main-description {
  margin: 0 auto 0.5% auto;
  font-weight: bold;
  color: crimson;
}

.account-form-div {
  margin: 3% auto;
  max-width: 700px;
  width: calc(130px + 60vw);
  border: 2px outset var(--lightthemeblue);
  border-radius: 30px;
  background-color: var(--bluish);
  background-image: radial-gradient(ellipse, var(--bluish) 30%, #979CA580, #9CA2AD80, #A5ABB680, #AEB3BD80);
}

#form-heading, .login-heading, .username-welcome {
  font-weight: bold;
  color: darkblue;
  text-shadow: 2px 4px 5px lightsteelblue;
  font-size: calc(20px + 0.85vw)
}
.username-welcome {
  margin: 1.5% auto 0 auto;
}
.name-row {
  max-width: 100%;
  margin: 0 auto;
}
#firstNameCol {
  margin-left: 18%;
 }
#lastNameCol {
  margin-right: 18%;
 }
.account-label {
  font-size: calc(13px + 0.3vw);
  font-weight: bold;
  color: #252b30;
  margin: 5px auto 0 auto;
}
.placeholderPassword {
  margin-left: calc(10px + 0.5vw);
}
.account-input, .login-input, .forgotUserInput, .forgotPassInput, .updatePassInput, .changePassInput {
  font-size: calc(11px + 0.3vw);
  border: 0.03rem solid #343a40;
  border-radius: 10px;
  max-width: 90%;
  min-width: 30%;
  text-align: center;
}

.account-heading {
  margin: 3% auto 2% auto;
}

.input-icon {
  cursor: pointer;
  color: darkblue;
  z-index: 2;
  font-size: calc(11px + 0.3vw);
}
.show-hide {
  margin-left: -25px;
}
.edit-icon {
  margin-left: calc(2px + 0.2vw);
}
.input-icon:hover {
  color: crimson;
}
.input-icon:active {
  color: var(--darkcrimson);
}
.password {
  margin-left: -8px;
}
.invalid-fields-list {
  margin: 2% auto 0 auto;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-weight: bolder;
  font-size: calc(11px + 0.3vw);
}
.invalid-list {
  color: crimson;
  text-shadow: 0px 0px 8px rgb(230, 230, 230);
}
.valid-list {
  color: green;
  text-shadow: 0px 0px 8px rgb(230, 230, 230);
}
.warning-list {
  color: gold;
  text-shadow: 0px 0px 10px rgb(80, 80, 80);
}
.birthday {
  padding-left: calc(23px + 3%);
}
.account-already {
  font-size: calc(11px + 0.3vw);
  margin-bottom: 2%;
}
a.link-text {
  color: darkblue;
}
input:disabled {
  background-color: aliceblue;
  opacity: 0.9;
  color: black;
}

dialog.account-dialog {
  border-radius: 0;
  top: calc(10vh + 10%);
  min-width: calc(250px + 15vw);
  padding: 0;
}
#loginStreakDialog, #changePWDialog {
  padding-bottom: 1.5%;
}

.exit-button-div, #table-search-row, #collapse-button-div {
  text-align: right;
}
.back-button-div {
  text-align: left;
}

.login-heading {
  margin: 0 auto 1.5% auto;
}
.exit-dialog-button {
  background-color: var(--bluish);
  font-weight: bold;
  border: 1px inset lightsteelblue;
  padding: 0.4% 2%;
  margin-top: 0;
}
.exit-dialog-button:hover {
  border: 1px outset lightsteelblue;
}

button.back-arrow {
  padding: 0;
  border: none;
  width: calc(20px + 1.2vw);
  line-height: 1;
  margin-right: calc(2px + 0.2%);
}

#leaderboard-div {
  width: calc(80px + 80%);
  padding: 0;
  margin: 2% auto;
  text-align: center;
}

#search-button {
  background-color: darkblue;
  border: none;
  font-size: calc(11px + 0.4vw);
  width: calc(20px + 0.8vw);
}
#table-search-icon {
  color: white;
  margin-right: calc(2px + 0.2%);
}
#tableSearch {
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  text-align: center;
  padding: 0;
}
#leaderboard-table {
  width: 100%;
  font-size: calc(10px + 0.35vw);
}
.leaderboard-head, .leaderboard-cell {
  border: 1px solid black;
}
.leaderboard-head {
  background-color: var(--bluish);
}
.leaderboard-row:nth-child(odd) {
  background-color: rgba(210, 210, 200, 0.3);
}

#leaderboard-pagination {
  margin: 2% auto;
}
#pagination-list {
  justify-content: flex-end!important;
}

.page-link {
  color: darkblue;
  transition: all 0.4s;
  font-size: calc(12px + 0.35vw);
}

#coin-win-popup-span, #number-coins-won, #hand-win-popup-span {
  color: darkblue;
  font-weight: bold;
  font-size:calc(14px + 0.6vw);
}

#mid-container, #dialog-popup-text, #outOfCoinsDialog, #winCoinsDialog, #winHandDialog, #winHandDiv, .account-form-div, #show-hide-odds-div {
  text-align: center;
}

#coins-popup-img {
  width: calc(18px + 0.8vw)
}

#outOfCoinsDialog, #winCoinsDialog, #winHandDialog {
  border: 3px solid darkblue;
  border-radius: 10px;
  top: calc(10vh + 20%);
}

#go-button-link{
  transition: all 0.4s;
  color: gold;
}
#go-button-link:hover{
  text-decoration: none;
}
#go-button-link:active{
  color: var(--darkgold);
}

#dialogButtonDiv, #logoutDialogDiv {
  margin: 4% auto 2.5% auto;
}
#coinDialogDiv {
  margin-top: 5%;
}

/* small breakpoint */
@media (max-width: 575px) {
    #dropdownMainLink, .navbar-toggler{
      font-size: calc(12px + 1vw);
    }
    #main-links-list, #cardsDropdown a, #mainDropdown a {
      font-size: calc(8px + 1vw);
    }
    #coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div {
      width: 105px;
      line-height: 1;
    }
    #hand-odds-div {
      width: 150px;
      line-height: 1;
    }
    #dropdownCardsLink, #dropdownMainLink {
      margin-bottom: 0;
    }
    #cardsDropdown a:hover, #mainDropdown a:hover {
      color: crimson;
      background-color: #343a40;
    }
    .birthday {
      padding-left: calc(14px + 3%);
    }
    #leaderboard-div {
      width: 99%;
    }
    #firstNameCol {
      margin-left: 5px;
     }
    #lastNameCol {
      margin-right: 5px;
     }
     #collapse-button-div {
      padding: 0;
    }
    #hamburger-button {
      margin-right: 12px;
    }
}
/* medium breakpoint */
@media (max-width: 767px) {
  #mainDropdown {
    position: static;
  }
  #main-navbar {
    min-height: none;
    max-height: none;
    padding: 0.5%;
  }
}
@media (max-width: 767px) and (min-width: 575px) {
  #cardsDropdown {
    max-width: 195px;
  }
  #firstNameCol {
    margin-left: 15%;
   }
  #lastNameCol {
    margin-right: 15%;
   }
}