body, html {
  font-family: "Georgia", "Verdana", "Times New Roman";
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden; /* navbar toggle button causes this to show no matter what when reaches small enough size */
  overflow-y: auto;
}

body {
  background-color: rgba(255, 255, 255);
  background-image: radial-gradient(ellipse, #FFFFFF 60%, #F4F7F9, #F3F4F6, #E3E6EE, #DBDFEB, #D1D7E5);
}

:root {
  --bluish: rgba(140, 145, 155, 0.5);
  --lightthemeblue: rgba(81, 101, 180, 0.7);
  --lightcrimson: rgb(250, 10, 50);
  --lightthemegold: rgba(255, 217, 0, 0.7);
  --darkgold: rgb(210, 180, 20);
  --darkcrimson: rgb(150, 0, 5);
  --darkerblue: rgb(0, 0, 100);
  --darkgrey: #343a40;
}

::-webkit-scrollbar {
  width: calc(5px + 0.1vw + 0.05vh);
  height: calc(5px + 0.05vw + 0.1vh);
  background-color: #343a40;
}
::-webkit-scrollbar-thumb {
  background-color: #343a40;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #D1D7E5;
}
::-webkit-scrollbar-thumb:hover, #table-search-cell, #search-button {
  background-color: darkblue;
}

#main-container {
  transition: all 0.2s;
}

#loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#loader {
  position: absolute;
  top: 30%;
  z-index: 10;
  display: none;
  font-size: calc(50px + 6vw + 5vh);
  font-weight: 800;
  color: darkblue;
}
.animateLoad::after {
  content:'';
  animation: loadDice 2s linear infinite;
}
.animateLoad {
  animation: loadSpin 1s linear infinite;
}

.lg-text {
  font-size: calc(20px + 0.9vw);
}
.md-text, #confirmHeading {
  font-size: calc(15px + 0.5vw);
}
.sm-text {
  font-size: calc(13px + 0.35vw);
}
.xs-text {
  font-size: calc(11px + 0.3vw);
}
button.gold-bg, input.gold-bg.btn, button.gold-bg:focus, input.gold-bg.btn:focus {
  background-color: gold;
  box-shadow: 0 6px var(--darkgold);
}
button.red-bg, input.red-bg.btn, button.red-bg:focus, input.red-bg.btn:focus {
  background-color: crimson;
  box-shadow: 0 6px var(--darkcrimson);
}
button.blue-bg, input.blue-bg.btn, button.blue-bg:focus, input.blue-bg.btn:focus, a.page-link, a.page-link:focus {
  background-color: darkblue;
  box-shadow: 0 6px var(--darkerblue);
}
button.btn-style, input.btn-style {
  padding: 0.1% 1%;
  white-space: nowrap;
  font-weight: bold;
  margin: 0.8% auto calc(6px + 0.2vh) auto;
  border: none;
  min-width: calc(38px + 2vw);
  min-height: calc(22px + 0.8vw);
  position: relative;
  box-sizing: border-box;
}
.gold-text, .warning-list, #go-button-link, #footer a:hover, #table-search-icon:hover, a.page-link {
  color: gold;
}
.red-text, .input-icon:hover, button.exit-dialog-button:hover, #header a:active, a.link-text:active, .back-button-label:active,
svg.back-icon:active, #dicequantity:hover, #dicequantity:focus, .invalid-list, #table-search-icon:active, #hand-ranking-heading, #roll-ranking-heading {
  color: crimson;
}
.blue-text, a.link-text {
  color: darkblue;
}
.green-text, .valid-list {
  color: green;
}

button.gold-bg:hover, input.gold-bg.btn:hover {
  color: darkblue;
  box-shadow: 0 4px var(--darkgold);
  top: 2px;
}
button.gold-bg:active, input.gold-bg.btn:active {
  box-shadow: 0 0 var(--darkgold);
  top: 6px;
}
button.red-bg:hover, input.red-bg.btn:hover, a.page-link:hover {
  color: gold;
  box-shadow: 0 4px var(--darkcrimson);
  top: 2px;
}
button.red-bg:active, input.red-bg.btn:active, a.page-link:active {
  box-shadow: 0 0 var(--darkcrimson);
  top: 6px;
}
button.blue-bg:hover, input.blue-bg.btn:hover {
  color: gold;
  box-shadow: 0 4px var(--darkerblue);
  top: 2px;
}
button.blue-bg:active, input.blue-bg.btn:active {
  box-shadow: 0 0 var(--darkerblue);
  top: 6px;
}
button.gold-bg:disabled, input.gold-bg.btn:disabled {
  color: crimson;
}
button.red-bg:disabled, input.red-bg.btn:disabled, button.blue-bg:disabled, input.blue-bg.btn:disabled {
  color: gold;
}

button.btn:disabled, input.btn:disabled {
  opacity: 1;
  cursor: default;
  pointer-events: none;
}
button.exit-dialog-button:active {
  border-width: 0.08rem;
}

input:valid, #tableSearch:focus, #tableSearch:hover {
  border-color: green;
}
input:invalid, #tableSearch:active {
  border-color: crimson;
}

#dicequantity {
  background-color: gold;
  border: 1px solid crimson;
  width: calc(35px + 1.4vw);
  height: calc(14px + 0.6vw);
  cursor: pointer;
  margin-left: 0.5%;
  font-weight: bold;
  padding: 0.5% 0.4%;
}

#coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div, .farkle-score-div {
  margin: 2% auto;
  border: calc(1px + 0.2vw) solid darkblue;
  line-height: 1.25;
  padding: 0.2%;
  text-align: center;
  width: calc(90px + 4vw);
  max-width: 180px;
  display: none;
}
#hand-odds-div {
  max-width: 270px;
  display: none;
  margin: 0.5% auto 2% auto;
  border: calc(1px + 0.2vw) solid darkblue;
  line-height: 1.25;
  padding: 0.2% 0.1%;
  text-align: center;
}

#dice-clear-tally-col, #hand-ranking-heading, #roll-ranking-heading, #roll-score-heading {
  display: none;
}

.table-heading, .current-table-heading {
  font-weight: bold;
  display: block;
  text-decoration: underline;
}
.table-heading, .current-table-heading, .farkle-turn-tally {
  font-size: calc(13.5px + 0.4vw);
}

#dice-quantity-input-div, #dice-clear-tally-row, #dealt-cards-div, #dialogButtonDiv, #farkle-roll-div {
  justify-content: center;
}

.result-tally, .odds-span, .result, .loss, .win, #dice-quantity-input-div {
  font-size: calc(10px + 0.35vw);
}
.result, #home-heading, #page-heading, .leaderboard-head, .main-heading, .roll-score {
  font-weight: bold;
  color: darkblue;
}
.loss {
  color: crimson;
}
.win {
  color: green;
}

.cards, #home-logo {
  max-width: 100%;
  margin: auto;
}
.cards.fadeInOut-card {
  animation: 0.4s ease-in-out 0s 1 forwards fadeInOut;
}
.cards.flip {
	animation: 0.4s ease-in-out 0s 1 forwards flipCard;
}

.card-slot-div .interactive-img:hover, .farkle-slot-div .interactive-img:hover {
  cursor: pointer;
}
.card-slot-div .interactive-img:hover {
  border: 0.06rem solid lightsteelblue;
  border-radius: 15px;
}
.farkle-slot-div .interactive-img:hover {
  border: 0.04em solid lightsteelblue;
  border-radius: 20%;
}
.card-slot-div .interactive-img:active, #dicequantity:active, #dicequantity:focus, #table-search-cell {
  border: 0.1rem solid darkblue;
}
.farkle-slot-div .interactive-img:active {
  border: 0.05em solid darkblue;
}
.farkle-slot-div {
  min-height: 140px;
  max-height: 200px;
  height: calc(20px + 6vh + 5vw);
}
.card-slot-div {
  padding: 0 1%;
}
.card-coins-data, #userIdInput, .farkle-coins-data {
  display: none;
  padding: 0;
  border: 0;
}
#card-prep-row, #farkle-prep-row {
  margin: calc(4px + 0.8%) auto calc(1px + 0.2%) auto;
}
#dealt-cards-div{
  margin: 0 auto calc(4px + 0.8%) auto;
}

#dice-prep-div {
  white-space: nowrap;
  margin: 0 auto;
}

form > #farkle-roll-button, form > #farkle-end-button {
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 0.3% 3%;
}



#coin {
  width: 1%;
  margin: calc(40px + 3%) auto;
  min-width: 10px;
}
#coin.flip-grow {
  animation: 0.5s ease-out 0s 1 forwards flipGrow;
}
.dice {
  width: 0.75%;
  margin: calc(28px + 2%);
  min-width: 7px;
  max-width: 100px;
}
#farkle-roll-div .dice {
  width: 7%;
  max-width: 200px;
  margin: calc(28px + 2%) 0;
}
.hold-dice-text {
  margin-bottom: 15%;
}
#coin.spin-grow, .dice.spin-grow {
  animation: 0.5s ease-out 0s 1 forwards spinGrow;
}
#play-container {
  width: calc(500px + 35vw);
}

#dice-roll-current-div, #dice-col, #dice-current-col {
  margin-right: 0;
}
#dice-roll-tally-div, #dice-col, #dice-current-col {
  margin-left: 0;
}

.coins-img {
  width: calc(22px + 1vw);
}

#total-coins-span {
  font-size:calc(12px + 0.3vw);
  color: gold;
  font-weight: bold;
  margin-right: 1.5%;
  text-align: right;
}
.coins-streak-image {
  margin: 0.2% 0.3%;
}

button.betWinButton, button.betWinButton:focus {
  background-color: crimson;
  box-shadow: 0 6px var(--darkcrimson);
  font-weight: bold;
  padding: 0.1% 1% 8% 1%;
  border: none;
  border-radius: 50px;
  width: calc(38px + 2.3vw);
  height: calc(38px + 1.5vw);
  white-space: nowrap;
  margin: 0.5% auto;
  position: relative;
  box-sizing: border-box;
  opacity: 1;
}
button.betWinButton:hover {
  color: gold;
  box-shadow: 0 4px var(--darkcrimson);
  top: 2px;
}
button.betWinButton:active {
  box-shadow: 0 0 var(--darkcrimson);
  top: 6px;
}

#current-win-span, #current-bet-span {
  display: block;
  line-height: 40%;
  text-align: center;
}

.winner, #winner, #final_winner, .hold-card-text, .hold-dice-text {
  font-size: calc(9px + 0.6vw);
  font-weight: bold;
  color: darkblue;
  text-shadow: 5px 10px 9px lightsteelblue;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.text-opacity {
  opacity: 0.0001;
}

#home-heading {
  font-size: calc(23px + 1vw);
  text-transform: uppercase;
  text-shadow: 7px 2px 7px lightsteelblue, 7px 6px 7px lightsteelblue, 7px 10px 7px lightsteelblue;
}

#page-heading, #hand-ranking-heading, #roll-ranking-heading, #roll-score-heading {
  text-transform: uppercase;
  font-size: calc(18px + 0.9vw);
  text-shadow: 5px 10px 9px lightsteelblue;
}

.italicized-subheading {
  font-size: 70%;
  font-style: italic;
  text-transform: none;
  text-shadow: 5px 10px 9px lightsteelblue;
}

#home-logo {
  width: calc(140px + 8vw);
}

#header {
  z-index: 10;
}

#header a:hover, #current-link, a.link-text:hover, .back-button-label:hover, svg.back-icon:hover {
  color: crimson;
  cursor: pointer;
}
.fa-caret-down {
  margin-left: 3px;
}

#dropdownMainLink {
  margin-left: 5%;
  font-size: 120%;
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
#main-navbar a, .farkle-table-heading {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

a, svg.input-icon, button > svg {
  transition: all 0.3s;
}
button.btn, input.btn, input.user-input {
  transition: all 0.05s ease-out;
}

#dropdownCardsLink {
  margin-bottom: 2px;
}
div.dropdown-menu {
  max-width: 180px;
  min-width: 160px;
  background-color: #343a40;
  text-align: center;
  border: none;
  padding: 0;
  top: 30px;
}
#mainDropdown {
  right: 10px;
  margin: 0 -1px;
}
#cardsDropdown {
  margin: 0;
  left: calc(-200px + 22vw);
}
#farkleDropdown {
  margin: 0;
  left: calc(-46px + 0.15vw);
}
div.top-menu-div > a {
  padding: 10% 0;
}
#coins-img {
  margin: 0 5% 0 0;
}

#dropdownCardsLink #dropdownMainLink, li a, #main-container, #dice-col, #dice-current-col, #dice-roll-tally-div,
#dice-roll-current-div, #table-search-cell, .name-col, #leaderboard-div, #tableSearch, button.back-arrow, #search-button,
#main-navbar, #main-links-row, a.dropdown-item, #linksDiv, div.top-menu-div {
  padding: 0;
} 

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding: 30px 0 0 0;
}
#footer a {
  color: crimson;
  font-size: 90%;
  font-weight: bold;
  text-decoration: underline;
  display: none;
}

#main-navbar, #header {
  min-height: 40px;
  max-height: 40px;
}
#main-links-row {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#main-links-row, #farkle-roll-div {
  display: flex;
}
.main-heading {
  margin: 2% auto 0.5% auto;
}
.main-description {
  margin: 0 auto 0.5% auto;
  font-weight: bold;
  color: crimson;
}

.account-form-div {
  margin: 3% auto;
  max-width: 700px;
  width: calc(130px + 60vw);
  border: 2px outset var(--lightthemeblue);
  border-radius: 30px;
  background-color: var(--bluish);
  background-image: radial-gradient(ellipse, var(--bluish) 30%, #979CA580, #9CA2AD80, #A5ABB680, #AEB3BD80);
}

#form-heading, .login-heading, .username-welcome {
  font-weight: bold;
  text-shadow: 2px 4px 5px lightsteelblue;
  font-size: calc(20px + 0.85vw)
}
.username-welcome {
  margin: 1.5% auto 0 auto;
}
.name-row {
  margin: 0 auto;
}
#firstNameCol {
  margin-left: 18%;
 }
#lastNameCol {
  margin-right: 18%;
 }
.account-label {
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 5px auto 0 auto;
}
.placeholderPassword {
  margin-left: calc(10px + 0.5vw);
}
.user-input {
  font-size: calc(11px + 0.3vw);
  border: 0rem solid #343a40;
  border-radius: 10px;
  max-width: 90%;
  min-width: 30%;
  text-align: center;
}

.account-heading, #farkle-roll-div, #hand-ranking-heading {
  margin: 3% auto 2% auto;
}
#farkle-roll-score-div {
  margin: 2% auto 0 auto;
  border-bottom: none;
}
#farkle-total-score-div {
  margin: 0 auto 2% auto;
  border-top: none;
}
#roll-ranking-heading {
  margin: 1% auto 0 auto;
}
#roll-score-heading {
  margin-top: 0.5%;
}
#farkle-end-button:disabled {
  opacity: 0.5;
}

.input-icon {
  cursor: pointer;
  color: darkblue;
  z-index: 2;
  font-size: calc(11px + 0.3vw);
}
.input-icon:active {
  color: var(--darkcrimson);
}
.show-hide {
  margin-left: -25px;
}
.edit-icon {
  margin-left: calc(2px + 0.2vw);
}

.password {
  margin-left: -8px;
}
.invalid-fields-list {
  margin: 2% auto 0 auto;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-weight: bold;
  font-size: calc(11px + 0.3vw);
  text-shadow: 0px 0px 8px rgb(230, 230, 230);
}

input.birthday {
  padding-left: calc(23px + 3%);
}
.account-already {
  font-size: calc(11px + 0.3vw);
  margin-bottom: 2%;
}
input:disabled {
  background-color: aliceblue;
  opacity: 0.9;
  color: black;
}

dialog.account-dialog {
  border-radius: 0;
  top: calc(10vh + 10%);
  min-width: calc(250px + 15vw);
  padding: 0;
}
#loginStreakDialog, #changePWDialog {
  padding-bottom: 1.5%;
}

.exit-button-div, #table-search-row, #collapse-button-div, #current-bet-div, #cardsLink {
  text-align: right;
}
.back-button-div, #dicequantity, #current-win-div, #farkleLink {
  text-align: left;
}

.login-heading, #dice-clear-tally-row, #header {
  margin: 0 auto 1.5% auto;
}
.exit-dialog-button {
  background-color: var(--bluish);
  font-weight: bold;
  border: 1px inset lightsteelblue;
  padding: 0.4% 2%;
  margin-top: 0;
}
.exit-dialog-button:hover {
  border: 1px outset lightsteelblue;
}

button.back-arrow, #search-button {
  line-height: 1.2;
}

#leaderboard-div {
  width: calc(150px + 80%);
  max-width: 99%;
}

#table-search-icon {
  color: white;
}
#tableSearch {
  border: 1px solid lightsteelblue;
  border-radius: 2px;
}
#leaderboard-table {
  width: 100%;
}
.leaderboard-head, .leaderboard-cell {
  border: 1px solid black;
}
.leaderboard-head {
  background-color: var(--bluish);
}
.leaderboard-row:nth-child(odd) {
  background-color: rgba(210, 210, 200, 0.3);
}

#leaderboard-pagination, .hold-card-text, input.account-button, #leaderboard-div, #dice-roll-div {
  margin: 2% auto;
}
#pagination-list {
  justify-content: flex-end!important;
}
a.page-link:hover, a.page-link:active {
  cursor: pointer;
  background-color: crimson;
}
a.page-link {
  padding: calc(4px + 0.3vw) calc(5px + 0.4vw);
  border: none;
  font-weight: bold;
}

#coin-win-popup-span, #number-coins-won, #hand-win-popup-span, #endTurnPopupSpan, #farklePopupSpan {
  color: darkblue;
  font-weight: bold;
  font-size:calc(14px + 0.6vw);
}

#confirmDialog {
  background: white;
}

#mid-container, #dialog-popup-text, #outOfCoinsDialog, #winCoinsDialog, #winHandDialog, #winHandDiv,
.account-form-div, #show-hide-odds-div, #leaderboard-div, #tableSearch, #leaderboardLink, #farkle-container,
dialog.farkle-dialog, div.farkle-div {
  text-align: center;
}

#coins-popup-img, #search-button, #coins-farkle-img {
  width: calc(18px + 0.8vw)
}

#number-coins-won {
  margin: 0 1px 0 4px;
}

#outOfCoinsDialog, #winCoinsDialog, #winHandDialog, dialog.farkle-dialog {
  border: 3px solid darkblue;
  border-radius: 10px;
  top: calc(10vh + 20%);
}

#go-button-link:hover{
  text-decoration: none;
}

#dialogButtonDiv, #logoutDialogDiv, #accountUpdateDiv, #confirmDialogDiv {
  margin: 4% auto 2.5% auto;
}
#coinDialogDiv {
  margin-top: 5%;
}

/* Animations */
@keyframes spinGrow {
  from {transform: rotate(0deg) scale(0);}
  to {transform: rotate(1440deg) scale(10);}
}
@keyframes flipGrow {
  0% {transform: rotateY(0deg) scale(0);}
  25% {transform: rotateY(180deg) scale(2);}
  50% {transform: rotateY(0deg) scale(4);}
  75% {transform: rotateY(180deg) scale(7);}
  100% {transform: rotateY(0deg) scale(10);}
}

@keyframes fadeInOut {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}
@keyframes flipCard {
  from {transform: rotateY(180deg);}
  to {transform: rotateY(0deg);}
}

@keyframes loadSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes loadDice {
  0% {content:'\2680';}
  20% {content:'\2681';}
  40% {content:'\2682';}
  60% {content:'\2683';}
  80% {content:'\2684';}
  100% {content:'\2685';}
}

/* small breakpoint */
@media (max-width: 575px) {
  #total-coins-span, #coins-img {
    display: none;
  }
  #coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div, .farkle-score-div {
    width: 105px;
    line-height: 1;
  }
  #hand-odds-div {
    width: 150px;
    line-height: 1;
  }
  #dropdownCardsLink, #dropdownMainLink {
    margin-bottom: 0;
  }
  div.dropdown-menu a:hover {
    color: crimson;
    background-color: #343a40;
  }
  input.birthday {
    padding-left: calc(14px + 3%);
  }
  #firstNameCol {
    margin-left: 5px;
  }
  #lastNameCol {
    margin-right: 5px;
  }
  #cardsDropdown, #farkleDropdown {
    min-width: 100px;
  }
}
/* between small and medium */
@media (max-width: 767px) and (min-width: 575px) {
  #firstNameCol {
    margin-left: 15%;
   }
  #lastNameCol {
    margin-right: 15%;
   }
}
@media (max-width: 752px) {
  #mainDropdown {
    position: static;
  }
}
/* medium breakpoint */
@media (max-width: 767px) {
  #coins-img {
    margin: 0;
  }
  #cardsDropdown, #farkleDropdown {
    margin: auto;
  }
  #main-navbar {
    padding: 0.1%;
    max-height: 200px;
    z-index: 1;
  }
  #main-links-row {
    align-items: flex-start;
  }
  #dropdownMainLink, .navbar-toggler {
    font-size: calc(12px + 0.8vw);
  }
  .card-slot-div, #play-container, #collapse-button-div, #navbar-content div, .header-div {
    padding: 0;
  }
  #play-container {
    width: 100%;
  }
  #hamburger-button {
    margin-right: 0px;
  }
  #mainDropdownDiv {
    padding: 0.8% 0 0 0.4%;
  }
  div.top-menu-div > a {
    padding: 3%;
  }
  #cardsDropdown a {
    padding: 0.5% 0;
  }
  .dropdown-item:hover {
    background-color: #343a40;
  }
  #farkleLink, #cardsLink {
    text-align: center;
  }
  div.top-menu-div a, #mainDropdown a {
    font-size: calc(10px + 0.6vw);
  }
  #farkle-roll-div .dice {
    width: 6%;
    margin: calc(20px + 0.5%) 0;
  }
  .farkle-slot-div .interactive-img:hover {
    border-radius: 1.6px;
  }
  .farkle-slot-div {
    min-height: 100px;
  }
}