:root {
  --dice-width: 9%;
  --card-width: 100%;
  --bluish: rgba(140, 145, 155, 0.5);
  --lightthemeblue: rgba(81, 101, 180, 0.7);
  --lightthemered: rgba(220, 20, 60, 0.7);
  --lightthemegold: rgba(255, 217, 0, 0.7);
  --darkgold: rgb(210, 180, 20);
  --darkcrimson: rgb(250, 10, 50);
  --darkerblue: rgb(0, 0, 100);
}

body, html {
  font-family: "Georgia", "Verdana", "Times New Roman";
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
background-color: rgba(255, 255, 255, 1.0);
background-image: radial-gradient(ellipse, #FFFFFF 60%, #F4F7F9, #F3F4F6, #E3E6EE, #DBDFEB, #D1D7E5);
}

#dicequantity {
  background-color: gold;
  color: darkblue;
  font-weight: bold;
  width: calc(28px + 0.5vw);
  height: calc(14px + 0.5vw);
  padding: 0;
  margin-left: 4px;
}

#bet-button:hover, #dicequantity:hover, #table-search-cell, #confirmBtn, #winCoinsCancel:hover, #winHandCancel, #outOfCoinsCancel:hover {
  background-color: darkblue;
  transition: all 0.4s;
}
#bet-button:active, #dicequantity:active, #winCoinsCancel:active, #outOfCoinsCancel:active {
  background-color: var(--darkerblue);
  border: 1px solid crimson;
}

#dicequantity:hover, #go-button-link, #footer a:hover, .secondary-link, #table-search-icon:hover {
  color: gold;
  transition: all 0.4s;
}
#dicequantity:active {
  border: 1px solid crimson;
}

#coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div {
  margin: 2% auto 2% auto;
  border: calc(1px + 0.2vw) solid darkblue;
  line-height: 1.25;
  padding: 0.2% 0.1%;
  text-align: center;
  width: calc(90px + 4vw);
  max-width: 180px;
  display: none;
}
#hand-odds-div {
  max-width: 270px;
  display: none;
  margin: 2% auto 2% auto;
  border: calc(1px + 0.2vw) solid darkblue;
  line-height: 1.25;
  padding: 0.2% 0.1%;
  text-align: center;
}

#show-hide-odds-button {
  cursor: pointer;
  color: gold;
  background-color: darkblue;
  border: 1px solid crimson;
  padding: 0.1% 0.3%;
  font-weight: bold;
  font-size: calc(11px + 0.3vw);
  transition: all 0.4s;
}

#dice-clear-tally-col {
  display: none;
}

.table-heading, .current-table-heading {
  font-size: calc(11px + 0.5vw);
  font-weight: bold;
  display: block;
  text-decoration: underline;
}

.result-tally, .odds-span, .result, .loss, .win, #page-description-div, #dice-quantity-input-div, #dicequantity {
  font-size: calc(10px + 0.35vw);
}

.result {
  font-weight: bold;
  color: darkblue;
}
.loss {
  color: crimson;
}
.win {
  color: green;
}

.cards {
  width: var(--card-width);
  margin: auto;
}

.card-slot-div .interactive-card:hover {
  border: 2px solid lightsteelblue;
  border-radius: 15px;
}
.card-slot-div .interactive-card:active {
  border: 2px solid darkblue;
  border-radius: 15px;
}

.coin {
  width: calc(100px + 4vw);
  margin: 0.2% 0;
}

.dice {
  width: var(--dice-width);
  min-width: 28px;
  margin: 0 auto;
}

#dice-col, #dice-current-col {
  margin-left: 0;
  margin-right: 0;
}
#dice-roll-current-div {
  margin-right: 0;
}
#dice-roll-tally-div {
  margin-left: 0;
}

#coins-img {
  width: calc(22px + 1vw);
  display: none;
}

#total-coins-span {
  font-size:calc(12px + 0.3vw);
  color: gold;
  font-weight: bold;
  margin-right: 1.5%;
  text-align: right;
}

#coin-flip-button, #dice-roll-button, #card-deal-button, #clear-tally-button {
  background-color: gold;
  color: crimson;
  font-weight: bold;
  padding: 0.1% 1%;
  border: 2px solid crimson;
  white-space: nowrap;
  transition: all 0.4s;
}
#coin-flip-button, #dice-roll-button, #card-deal-button {
  font-size:calc(16px + 1vw);
}
#clear-tally-button {
  font-size:calc(11.5px + 0.3vw);
}
#coin-flip-button:hover, #dice-roll-button:hover, #card-deal-button:hover, #clear-tally-button:hover {
  background-color: darkblue;
  color: gold;
  border: 2px solid gold;
}
#coin-flip-button:active, #dice-roll-button:active, #card-deal-button:active, #clear-tally-button:active {
  border: 2px solid crimson;
}
#coin-flip-button:disabled, #dice-roll-button:disabled, #card-deal-button:disabled, #clear-tally-button:disabled {
  opacity: 0.1;
  cursor: default;
}

#bet-button, #win-button {
  background-color: crimson;
  color: gold;
  font-weight: bold;
  padding: 0.1% 1% 4% 1%;
  border: 2px solid gold;
  border-radius: 50px;
  white-space: nowrap;
  font-size:calc(12px + 0.5vw);
  width: calc(38px + 2.3vw);
  height: calc(30px + 1.4vw);
  transition: all 0.4s;
}
#bet-button:disabled {
  background-color: crimson;
}

#bet-button:disabled, #win-button:disabled {
  cursor: default;
  opacity: 1;
}

#current-win-span, #current-bet-span{
  display: block;
  line-height: 40%;
  text-align: center;
}

.winner, #winner, #final_winner, .hold-card-text {
  font-size: calc(9px + 0.6vw);
  font-weight: bold;
  color: darkblue;
  text-shadow: 5px 10px 9px lightsteelblue;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.hold-card-text {
  margin: 2% 0;
}
.text-opacity {
  opacity: 0.0001;
}

#total-coins-span, #card-deal-button, #current-bet-span, #current-win-span {
  visibility: hidden;
}

#home-heading {
  font-size: calc(23px + 1vw);
  text-transform: uppercase;
  text-shadow: 7px 2px 7px lightsteelblue, 7px 6px 7px lightsteelblue, 7px 10px 7px lightsteelblue;
}

#home-heading, #page-heading, #leaderboard-head {
  color: darkblue;
  font-weight: bold;
  text-align: center
}

#page-heading, #hand-ranking-heading {
  text-transform: uppercase;
  font-size: calc(18px + 0.9vw);
  text-shadow: 5px 10px 9px lightsteelblue;
}

#welcome-home {
  font-size: 70%;
  font-style: italic;
  text-transform: none;
  text-shadow: 5px 10px 9px lightsteelblue;
}

#leaderboard-span {
  font-size: 80%;
  font-style: italic;
  text-transform: none;
  text-shadow: 5px 10px 9px lightsteelblue;
}

#hand-ranking-heading {
  font-weight: bold;
  color: crimson;
  text-align: center;
  display: none;
}

#home-logo {
  width: calc(140px + 8vw);
  display: block;
}

#header {
  z-index: 10;
}

#header a:hover, .invalid-list, #account-login-link:hover, #current-link, #practice-mode-link:hover, #forgot-pw-link:hover, #forgot-user-link:hover, .back-button-label:hover, #forgotUserBackArrow:hover, #forgotPWBackArrow:hover {
  color: crimson;
  cursor: pointer;
  transition: all 0.4s;
}
#header a:active, #account-login-link:active, #practice-mode-link:active, #forgot-pw-link:active, #forgot-user-link:active, .back-button-label:active, #forgotUserBackArrow:active, #forgotPWBackArrow:active {
  color: var(--darkcrimson);
}

#dropdownMainLink {
  font-size: 120%;
  font-style: italic;
  letter-spacing: -1.5px;
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 0.4s;
}
#mainDropdown a, #main-links-list a{
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 0.4s;
}

#dropdownCardsLink {
  font-size: 100%;
  margin-bottom: 2px;
}
#cardsDropdown, #mainDropdown {
  max-width: 180px;
  min-width: 100px;
  background-color: #343a40;
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
}
#dropdownCardsLink #dropdownMainLink, li a, #main-container, #play-container, #dice-col, #dice-current-col, #dice-roll-tally-div, #dice-roll-current-div {
  padding: 0;
} 

.dropdown-toggle::after {
  margin-left: 0;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  padding: 30px 0 0 0;
}
#footer a {
  color: crimson;
  font-size: 90%;
  font-weight: bold;
  text-decoration: underline;
  display: none;
  transition: all 0.4s;
}
.nav-item {
  padding: 0 5%;
}

#main-navbar {
  display: block;
  min-height: 40px;
  max-height: 40px;
}

.account-form-div {
  margin: 4% auto 0 auto;
  max-width: 700px;
  width: calc(130px + 60vw);
  border: 2px outset var(--lightthemeblue);
  /* border: 2px outset lightsteelblue; */
  border-radius: 30px;
  background-color: var(--bluish);
  background-image: radial-gradient(ellipse, var(--bluish) 30%, #979CA580, #9CA2AD80, #A5ABB680, #AEB3BD80);
}
#form-heading, .login-heading {
  font-weight: bold;
  color: darkblue;
  text-shadow: 4px 8px 7px lightsteelblue;
  font-size: calc(22px + 0.8vw)
}
.name-row {
  max-width: 100%;
  margin: 0 auto;
}
.name-col {
 padding: 0;
}
#firstNameCol {
  margin-left: 18%;
 }
#lastNameCol {
  margin-right: 18%;
 }
.account-label {
  font-size: calc(13px + 0.3vw);
  font-weight: bold;
  color: #252b30;
  margin: 5px auto 0 auto;
}
.account-input {
  font-size: calc(11px + 0.3vw);
  border: 1px solid #343a40;
  border-radius: 10px;
  max-width: 90%;
  min-width: 30%;
  text-align: center;
}
.valid-content {
  font-size: calc(12px + 0.25vw);
  position: absolute;
  padding-left: calc(3px + 0.1vw);
  padding-top: calc(3px + 0.06vw);
  color: crimson;
  display: none;
  transition: all 0.4s;
}
.account-heading {
  margin: 3% auto 2% auto;
}
#account-button, #login-button, #forgot-pw-button, #forgot-user-button {
  margin: 2% auto;
  cursor: pointer;
  color: gold;
  background-color: darkblue;
  border: 1px outset lightsteelblue;
  padding: 0.4% 1%;
  font-weight: bold;
  font-size: calc(13px + 0.4vw);
  transition: all 0.3s;
}
#account-button:hover, #login-button:hover, #forgot-pw-button:hover, #forgot-user-button:hover, #show-hide-odds-button:hover {
  color: gold;
  border: 1px inset var(--lightthemeblue);
  background-color: crimson;
}
#account-button:active, #login-button:active, #forgot-pw-button:active, #forgot-user-button:active, #show-hide-odds-button:active {
  border: 1.5px inset darkblue;
  transition: all 0.1s;
}

#forgot-pw-button, #forgot-user-button {
  margin: 3% auto 0 auto;
}
#invalid-fields-list {
  margin: 2% auto 0 auto;
  list-style-type: none;
  text-align: center;
  padding: 0;
}
#newBirthday {
  padding-left: calc(23px + 3%);
}
.account-already {
  font-size: calc(11px + 0.3vw);
  margin-bottom: 2%;
}
#account-login-link, #forgot-pw-link, #forgot-user-link {
  color: darkblue;
  text-decoration: underline;
}

#loginDialog, #forgotPWDialog, #forgotUserDialog {
  border-radius: 0;
  top: calc(10vh + 10%);
  padding: 0;
}
#outOfCoinsDialog, #winCoinsDialog, #winHandDialog, #loginDialog, #forgotPWDialog, #forgotUserDialog {
  margin: 0 auto;
  transition: all 0.4s;
}
.exit-button-div {
  text-align: right;
}
.back-button-div {
  text-align: left;
}
.back-button-label {
  margin-left: 0;
  font-size: calc(11px + 0.3vw);
}
.login-heading {
  margin: 0 auto 1.5% auto;
}
.exit-dialog-button {
  font-size: calc(15px + 0.4vw);
  background-color: var(--bluish);
  font-weight: bold;
  border: 1px inset lightsteelblue;
  padding: 0.4% 2%;
  margin-top: 0;
}
.exit-dialog-button:hover {
  border: 1px outset lightsteelblue;
  color: crimson;
}
.exit-dialog-button:active {
  border: 1px outset var(--darkcrimson);
}
#forgotUserBackButton, #forgotPWBackButton {
  padding: 0;
  border: none;
  font-size: calc(20px + 1vw);
  width: calc(20px + 1.2vw);
  line-height: 1;
}
#forgotUserBackArrow, #forgotPWBackArrow {
  color: darkblue;
  margin-right: calc(2px + 0.2%);
}

#leaderboard-div {
  width: calc(80px + 80%);
  padding: 0;
  margin: 2% auto;
  text-align: center;
}
#table-search-row {
  text-align: right;
}
#table-search-cell, #search-button {
  padding: 0;
}
#search-button {
  background-color: darkblue;
  border: none;
  font-size: calc(11px + 0.4vw);
  width: calc(20px + 0.8vw);
}
#table-search-icon {
  color: white;
  margin-right: calc(2px + 0.2%);
}
#tableSearch {
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  text-align: center;
  padding: 0;
}
#leaderboard-table {
  width: 100%;
  font-size: calc(10px + 0.35vw);
}
.leaderboard-head, .leaderboard-cell {
  border: 1px solid black;
}
.leaderboard-head {
  background-color: var(--bluish);
}
.leaderboard-row:nth-child(odd) {
  background-color: rgba(210, 210, 200, 0.3);
}
.page-link {

}
#leaderboard-pagination {
  margin: 2% auto;
}
#pagination-list {
  justify-content: flex-end!important;
}

#practice-mode-link, .page-link {
  color: darkblue;
  transition: all 0.4s;
  font-size: calc(10px + 0.35vw);
}

#coin-win-popup-span, #number-coins-won, #hand-win-popup-span {
  color: darkblue;
  font-weight: bold;
  font-size:calc(14px + 0.6vw);
}

#dialog-popup-text, #outOfCoinsDialog, #winCoinsDialog, #winHandDialog, #winHandDiv, .account-form-div, #show-hide-odds-div {
  text-align: center;
}

#coins-popup-img {
  width: calc(18px + 0.8vw)
}

#outOfCoinsDialog, #winCoinsDialog, #winHandDialog {
  border: 3px solid darkblue;
  border-radius: 10px;
  top: calc(10vh + 20%);
}

#winCoinsCancel, #confirmBtn, #outOfCoinsCancel, #winHandCancel {
  background-color: crimson;
  color: gold;
  font-weight: bold;
  padding: 0.1% 1% 1% 1%;
  border: 1px solid gold;
  border-radius: 2px;
  white-space: nowrap;
  font-size: calc(12px + 0.4vw);
  width: calc(45px + 2.2vw);
  height: calc(22px + 1vw);
  margin: auto;
}

#confirmBtn:hover {
  background-color: crimson;
}
#confirmBtn:active {
  border: 1px solid darkblue;
}
#go-button-link{
  transition: all 0.4s;
  color: gold;
}
#go-button-link:hover{
  text-decoration: none;
}
#go-button-link:active{
  color: var(--darkgold);
}

#dialogButtonDiv, #coinDialogDiv {
  margin-top: 2%;
}
#coinDialogDiv {
  margin-top: 5%;
}

/* small breakpoint */
@media (max-width: 575px) {
    #dropdownMainLink, .navbar-toggler{
      font-size: calc(12px + 1vw);
    }
    #main-links-list, #cardsDropdown a, #mainDropdown a {
      font-size: calc(8px + 1vw);
    }
    #coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div {
      width: 105px;
      line-height: 1;
    }
    #hand-odds-div {
      width: 150px;
      line-height: 1;
    }
    #dropdownCardsLink, #dropdownMainLink {
      margin-bottom: 0;
    }
    #cardsDropdown a:hover, #mainDropdown a:hover {
      color: crimson;
      background-color: #343a40;
    }
    #newBirthday {
      padding-left: calc(14px + 3%);
    }
    #leaderboard-div {
      width: 99%;
    }
    #firstNameCol {
      margin-left: 5px;
     }
    #lastNameCol {
      margin-right: 5px;
     }
}
/* medium breakpoint */
@media (max-width: 767px) {
  #mainDropdown {
    position: static;
  }
  #main-navbar {
    min-height: none;
    max-height: none;
  }
}
@media (max-width: 767px) and (min-width: 575px) {
  #cardsDropdown {
    max-width: 195px;
  }
  #firstNameCol {
    margin-left: 15%;
   }
  #lastNameCol {
    margin-right: 15%;
   }
}