:root {
  --dice-width: 9%;
  --card-width: 100%;
}

body {
  font-family: "Georgia", "Verdana", "Times New Roman";
  font-size: 100%;
  overflow-x:hidden;
  overflow-y: auto;
}

#page-description-div, #dice-quantity-input-div, #dicequantity {
  font-size: calc(10px + 0.3vw);
}

#dicequantity {
  background-color: gold;
  color: darkblue;
  font-weight: bold;
  width: calc(28px + 0.5vw);
  height: calc(14px + 0.5vw);
}

#dicequantity:hover {
  background-color: darkblue;
  color: gold;
}

#coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div {
  margin: 2% auto 0 auto;
  border: solid calc(1px + 0.2vw) darkblue;
  line-height: 1.25;
  padding: 0.2% 0.1%;
  display: none;
  text-align: center;
  max-width: 180px;
}
#coin-flip-tally-div{
  width: 115px;
}

#dice-clear-tally-col {
  display: none;
}

#tally-heading, #current-tally-heading {
  font-size: calc(11px + 0.5vw); /* 130% */
  font-weight: bold;
  display: block;
}

.result-tally {
  font-size: calc(10px + 0.4vw); /* 100% */
}

.cards {
  width: var(--card-width);
  margin: auto;
}

.coin {
  width: calc(100px + 4vw);
  margin: 0.2% 0;
}

.dice {
  width: var(--dice-width);
  min-width: 28px;
  margin: 0 auto;
}

#coins-img {
  width: calc(22px + 1vw);
  margin-right: 5%;
}

#total-coins-span {
  font-size:calc(12px + 0.3vw);
  color: gold;
  font-weight: bold;
  margin-right: 1.5%;
}

#coin-flip-button, #dice-roll-button, #card-deal-button, #clear-tally-button {
  background-color: gold;
  color: crimson;
  font-weight: bold;
  padding: 0.1% 1%;
  border: solid 2px crimson;
  white-space: nowrap;
}
#coin-flip-button, #dice-roll-button, #card-deal-button {
  font-size:calc(16px + 1vw);
}
#clear-tally-button {
  font-size:calc(11.5px + 0.3vw);
}
#coin-flip-button:hover, #dice-roll-button:hover, #card-deal-button:hover, #clear-tally-button:hover {
  background-color: darkblue;
  color: gold;
  border: solid 2px gold;
}

#bet-button, #win-button {
  background-color: crimson;
  color: gold;
  font-weight: bold;
  padding: 0.1% 1% 4% 1%;
  border: solid 2px gold;
  border-radius: 50px;
  white-space: nowrap;
  font-size:calc(12px + 0.5vw);
  width: calc(38px + 2.3vw);
  height: calc(30px + 1.4vw);
}
#bet-button:hover {
  background-color: darkblue;
  color: gold;
  border: solid 2px gold;
}

#win-button:hover {
  cursor:default;
}

#current-win-span, #current-bet-span{
  display: block;
  line-height: 0.5;
  text-align: center;
}

.winner, #winner, #final_winner, .hold-card-text {
  font-size: calc(9px + 0.6vw);
  font-weight: bold;
  color: darkblue;
  text-shadow: 5px 10px 9px lightsteelblue;
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.hold-card-text {
  margin: 2% 0;
  opacity: 0.0001;
}

/* #cards-container {
  height: calc(60px + 30vw + 2vh);
  min-height: 220px;
  max-height: 400px;
  background: no-repeat url("../assets/images/cards-background.jpg");
  border-radius: 25px;
} */

/* #hold0, #hold1, #hold2, #hold3, #hold4 {
  opacity: 0.0001;
} */

#home-heading, #page-heading {
  font-size: calc(23px + 1vw);
  text-transform: uppercase;
  color: darkblue;
  text-shadow: 7px 2px 7px lightsteelblue, 7px 6px 7px lightsteelblue, 7px 10px 7px lightsteelblue;
}

#page-heading, #hand-ranking-heading {
  font-size: calc(18px + 0.9vw);
  text-shadow: 5px 10px 9px lightsteelblue;
}

#hand-ranking-heading {
  text-transform: uppercase;
  font-weight: bold;
  color: crimson;
  text-align: center;
  display: none;
}

#welcome-home {
  font-size: 70%;
  font-style: italic;
  text-transform: none;
  color: darkblue;
  text-shadow: 5px 10px 9px lightsteelblue;
}

#home-logo {
  width: calc(120px + 7vw);
  display: block;
}

#header {
  overflow: hidden;
  z-index: 3;
}
#header a:hover {
  color: crimson;
}

#main-head-link {
  font-size: 120%;
  font-style: italic;
  letter-spacing: -1.5px;
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
#main-links-list a {
  color: gold;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  padding-top: 30px;
}
#footer a {
  color: crimson;
  font-size: 90%;
  font-weight: bold;
  text-decoration: underline;
}
#footer a:hover {
  color: gold;
}

@media (max-width: 575px) {
    #main-head-link, .navbar-toggler{
      font-size: calc(12px + 1vw);
    }
    #main-links-list {
      font-size: calc(8px + 1vw);
    }
    #coin-flip-tally-div, #dice-roll-tally-div, #dice-roll-current-div {
      width: 105px;
      line-height: 1;
    }
}

#main-navbar {
  display: block;
}
